.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: $color-white;
    padding: calc-rem(34px) calc-rem(40px);
    margin-bottom: calc-rem(22px);
    border: none;
    height: calc( 100% - calc-rem(22px));
    &-wrapper {
        display: flex;
        height: 100%;
    }

    &-center{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-content{
            .card-heading{
                margin-bottom: 0;
            }
        }
    }

    &-navy,
    &-blue,
    &-red {
        h1, h2, h3, h4, h5, h6, p {
            color: $color-white;
        }
    }

    &-white {
        h1, h2, h3, h4, h5, h6 {
            color: $color-secondary;
        }

        p {
            color: $color-dark-gray;
        }
    }

    &-navy {
        background-color: $color-primary;
    }

    &-blue {
        background-color: $color-primary-light;

        &-light {
            background-color: $color-blue-light-2;
        }
    }

    &-red {
        background-color: $color-secondary;
    }

    &-gray {
        background-color: $color-gray-3;
    }
    &-divider{
        background-color: $color-white;
        height: 1px;
        width: 100%;
        margin-bottom: calc-rem(36px);
    }

    &-lg{
        margin-bottom: calc-rem(118px);
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 30px 40px 0 0;
            border-color: $color-secondary transparent transparent transparent;
            right: 0;
        }
        &-image{
            height: 100%;
            img{
                height: 100%;
            }
        }
        &-content{
            padding: calc-rem(40px) 0;
            .tag-red{
                letter-spacing: 6.4px;
                margin-bottom: calc-rem(12px);
            }
            h6{
                font-weight: 700;
                margin-bottom: calc-rem(28px);
            }
            p{
                line-height: calc-rem(22px);
            }
        }
    }


    &-heading {
        font-size: calc-rem(24px);
        font-weight: 700;
        line-height: calc-rem(32px);
        margin-bottom: calc-rem(30px);
    }
    
    &-icon{
        &-heading{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: calc-rem(18px);
        }
        h6{
            margin-bottom: calc-rem(20px);
        }
        p{
            margin-bottom: 0;
        }
    }
    &-quote{
        margin-bottom: calc-rem(55px);
        line-height: calc-rem(38px);
    }

    &-body {
        margin: calc-rem(16px) 0;

        &-title {
            margin-bottom: calc-rem(10px);
            font-weight: 700;
            font-size: calc-rem(28px);
            color: $color-primary;
        }

        &-subtitle {
            margin-bottom: calc-rem(16px);
        }

        &-text {
            font-size: calc-rem(16px);
            line-height: calc-rem(26px);
            margin-bottom: 0;

            &-link {
                font-size: calc-rem(18px);
                color: $color-white;
                text-decoration: underline;
                font-weight: 400;

                &:hover {
                    color: $color-white;
                    text-decoration: underline;
                }
            }
        }

        &-list {
            list-style: none;
            margin-bottom: calc-rem(16px);

            &-item {
                padding: calc-rem(8px) calc-rem(16px);
                border: 1px solid darken($color-white, 10%);
            }
        }
    }

    &-footer {
        margin-top: auto;
    }

    &-image {
        &-wrapper {
            width: 100%;
            height: calc-rem(385px);
            display: inline-block;
            position: relative;
            // margin: 0 calc-rem(12px);
            padding: calc-rem(30px) calc-rem(24px);

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $color-black;
                opacity: .2;
            }
        }

        &-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            img {
                object-fit: cover;
                height: 100%;
            }
        }

        &-text {
            position: relative;
            height: 100%;
            z-index: 10;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }
     
    @include media-breakpoint-down(md) {
        padding: calc-rem(24px);
        height: auto;
        // &-blue {
        //     &-light {
        //         border-radius: calc-rem(24px);
        //         padding-left: 0;
        //         padding-right: 0;

        //         .card {
        //             &-heading {
        //                 border-bottom: 2px dashed $color-white;

        //                 h5 {
        //                     padding-left: calc-rem(24px);
        //                     padding-right: calc-rem(24px);
        //                     text-transform: uppercase;
        //                 }
        //             }

        //             &-body {
        //                 padding-left: calc-rem(24px);
        //                 padding-right: calc-rem(24px);
        //             }
        //         }
        //     }
        // }
        &-quote{
           font-size: calc-rem(18px);
           margin-bottom: calc-rem(40px);
        }

        &-center{
            flex-direction: column;
            &-content{
                margin-bottom: calc-rem(16px);
                .card-heading{
                    font-size: calc-rem(20px);
                }
                .card-body-text{
                    font-size: calc-rem(16px);
                }
            }
            button{
                width: 100%;
            }
        }

        &-heading {
            margin-bottom: calc-rem(20px);
        }
    }
}
