@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $length in $spacings {
    .#{$abbrev}-all-#{$size} {
      #{$prop}: $length !important;
    }

    .#{$abbrev}t-#{$size},
    .#{$abbrev}v-#{$size} {
      #{$prop}-top: $length !important;
    }

    .#{$abbrev}r-#{$size},
    .#{$abbrev}h-#{$size} {
      #{$prop}-right: $length !important;
    }

    .#{$abbrev}b-#{$size},
    .#{$abbrev}v-#{$size} {
      #{$prop}-bottom: $length !important;
    }

    .#{$abbrev}l-#{$size},
    .#{$abbrev}h-#{$size} {
      #{$prop}-left: $length !important;
    }
  }
}

@each $size, $length in $spacings {
  @if $size != 0 {
    .m-n-#{$size} {
      margin: -$length !important;
    }

    .mt-n-#{$size},
    .mv-n-#{$size} {
      margin-top: -$length !important;
    }

    .mr-n-#{$size},
    .mh-n-#{$size} {
      margin-right: -$length !important;
    }

    .mb-n-#{$size},
    .mv-n-#{$size} {
      margin-bottom: -$length !important;
    }
    .ml-n-#{$size},
    .mh-n-#{$size} {
      margin-left: -$length !important;
    }
  }
}

// Auto
.ml-auto,
.mh-auto {
  margin-left: auto !important;
}

.mr-auto,
.mh-auto {
  margin-right: auto !important;
}