.badge {
	display: flex;
	align-items: center;

	&-thumbnail {
        margin-right: calc-rem(28px);
        height: calc-rem(100px);
        width: calc-rem(100px);
        border-radius: 50%;
        overflow: hidden;

		img {
            height: 100%;
		}
	}
    &-text {
        flex: 1;
    }
	&-title {
		color: $color-secondary;
		font-size: calc-rem(18px);
		font-weight: 600;
	}
	&-info {
		font-size: calc-rem(16px);
		color: $color-primary;
		a {
			color: $color-secondary;
			text-decoration: underline;
		}
	}

    &-tech {
        align-items: flex-start;

        .badge {
            &-thumbnail {
                margin-right: calc-rem(22px);
                height: calc-rem(64px);
                width: calc-rem(64px);
                border-radius: 30%;
            }

            &-title {
                color: $color-primary;
                margin-bottom: calc-rem(12px);
            }

            &-info {
                font-size: calc-rem(12px);
                line-height: calc-rem(21px);
                color: $color-gray-4;
            }
        }
        &-white{
            .badge {
                &-title,
                &-info {
                    color: $color-white;
                }
            }
        }
    }

	&-small {
        .badge {    
            &-thumbnail {
                margin-right: calc-rem(16px);
                height: calc-rem(52px);
                width: calc-rem(52px);
            }
            &-title {
                font-size: calc-rem(14px);
                font-weight: 700;
            }
            &-info {
                font-size: calc-rem(14px);
                font-weight: 700;
            }
        }
	}

    &-white{
        .badge {
            &-title {
                color: $color-white;
            }
            &-info {
                color: $color-white;
                font-weight: 400;
            }
        }
    }

	@include media-breakpoint-down(md) {
		flex-direction: column;
        text-align: center;

		&-thumbnail {
			display: flex;
			justify-content: center;
		}

        &-tech {
            text-align: left;
            
        }
        &-small,
        &-white{
            flex-direction: row;
            text-align: start;
        }
	}
}
