ul {
  list-style: none;
}

ol.list {
  margin-left: calc-rem(25px);
}

.list {
  li {
    position: relative;
    padding: calc-rem(8px) calc-rem(16px);
    background-color: $color-white;
    font-family: inherit;
    font-size: inherit;
  }

  &-bullets {
    li {
      padding-left: calc-rem(32px);

      &::before {
        content: "";
        position: absolute;
        display: inline-block;
        width: calc-rem(8px);
        height: calc-rem(8px);
        left: calc-rem(10px);
        top: calc-rem(13px);
        margin-right: calc-rem(15px);
        background-color: $color-primary;
        border-radius: 50%;
      }
    }
  }

  &-border{
    padding-left: 0;
    border-top: 0.5px solid $color-white;

    li{
      padding:calc-rem(30px) 0;
      border-bottom: 0.5px solid $color-white ;
    }
  }
  &-icon{
    padding-left: 0;
    li{
      line-height: calc-rem(30px);
      i{
        margin-right: calc-rem(10px);
      }
    }
  }
}

.inline-list {
  display: flex;

  > li {
    display: inline-block;
  }
}

// DESCRIPTION LISTS
dl, dt, dd {
  margin: 0;
}

.dlist {
  &-rows {
    dt, dd {
      font-size: calc-rem(12px);
      line-height: calc-rem(28px);
    }

    dt {
      color: $color-primary;
      font-weight: 600;
    }

    dd {
      color: $color-gray-4;
      font-weight: 400;
    }
  }

  &-row {
    display: flex;
    margin: calc-rem(2px) 0;

    dt, dd {
      flex: 1;
    }
  }
}



.list-counter {
    margin-bottom: calc-rem(72px);
    width: 80%;

    li {
        counter-increment: my-awesome-counter;
        color: $color-white;
        font-size: calc-rem(22px);
        position: relative;
        padding-left: calc-rem(40px);
        background-color: transparent;

        &::before {
            content: counter(my-awesome-counter);
            font-size: calc-rem(32px);
            font-family: $font-secondary;
            color: $color-secondary;
            margin-right: calc-rem(25px);
            position: absolute;
            left: 0;
            top: calc-rem(20px);
        }
    }

    @include media-breakpoint-down(md) {
        width:100%;
        li {
            font-size: calc-rem(18px);
            padding-left: calc-rem(32px);

            &::before {
                font-size: calc-rem(32px);
            }
        }
    }
}

.list-icon-card{
  margin-bottom: 0;
  li{
    display: flex;
    position: relative;
    margin-bottom: calc-rem(12px);
    i{
      position: absolute;
      left: calc-rem(-32px);
    }
    h6{
      font-weight: 700;
      margin-bottom: calc-rem(12px);
    }
    p{
      letter-spacing: 0;
      line-height: calc-rem(20px);
    }
    

  }
  @include media-breakpoint-down(md){
    padding-left: 0;
    li{
      i{
        left: 0;
      }
      h6{
        padding-left: calc-rem(32px);
      }
    }
  }
}