﻿.tags {
  li {
    background-color: $color-tags;
    color: $color-blue-light-1;
    border-radius: $border-radius-pill;
    text-align: center;
    text-transform: lowercase;
  }

  &-sm {
    margin: calc-rem(16px) calc-rem(-4px) 0;

    li {
      margin: 0 calc-rem(2px);
      padding: calc-rem(6px) calc-rem(16px);
      font-size: calc-rem(10px);
      font-weight: 600;
    }
  }
}


.tag{
  &-big{
    text-transform: uppercase;
    font-weight: 700;
    font-size:calc-rem(15px);
    padding: calc-rem(3px) calc-rem(12px);
    color: $color-primary;
    background-color:$color-white;
    display:inline-block;
    text-align: center;
  }
  &-small{
    color: $color-secondary;
    font-size: calc-rem(10px);
    background-color:rgba($color-secondary, 0.1);
    border-radius: calc-rem(12px);
    min-width: calc-rem(95px);
    padding: calc-rem(6px) calc-rem(20px);
    margin-right: calc-rem(8px);
    text-align: center;
  }
  &-white{
    text-transform: uppercase;
    color: $color-white;
  }
  &-red{
    text-transform: uppercase;
    color: $color-secondary;
  }
  &-blue{
    text-transform: uppercase;
    color: $color-blue-light;
    font-size: calc-rem(16px);
  }
  &-navy{
    text-transform: uppercase;
    color: $color-primary;
    font-size: calc-rem(16px);
    font-weight: 600;
  }
  @include media-breakpoint-down(md){
    &-big{
      font-size: calc-rem(12px);
      width: calc-rem(140px);
      padding: calc-rem(5px);
    }
  }
}

.tag-title {
  font-size: calc-rem(16px);
  font-weight: 500;
  line-height: calc-rem(44px);
  letter-spacing: 2px;
  color: $color-primary;
  text-transform: uppercase;

  &-white {
    color: $color-white;
  }
}