.wall-stuck {
    position: relative;
    height: 100%;
    z-index:99;

    &-bound {
        .wall-stuck-inner,
        img {
            @include absolute-fullsize();
            height: 0;
        }
    }

    &-100-ratio {
        padding-bottom: 100%;
    }

    &-120-ratio {
        padding-bottom: 120%;
    }

    img {
        height: 100%;
    }

    &-card {
        .wall-stuck-inner {
            z-index: -1;
        }

        .wall-stuck-inner,
        img {
            height: 100%;
        }

        &-header,
        &-body {
            position: relative;
        }
        &-body{
            &.card{
                padding: calc-rem(26px) 0;
            }
        }

        &-signature {
            margin-top: calc-rem(40px);

            h6, p {
                margin: 0;
            }

            p {
                font-weight: 300;
            }
            a{
                font-size: calc-rem(16px);
                font-weight: 400;
                &:hover{
                    text-decoration: underline;
                    color: $color-white;
                }
            }
        }
    }
    &-full-height{
        height: 100%;
        .wall-stuck-card-header,
        .wall-stuck-inner{
            height: 100%;
        }
    }

    &-to-bottom {
        position: absolute;
        bottom: 0;
    }

    @include media-breakpoint-down(md) {
        padding-bottom: 76%;
    
        &-inner,
        &-card img,
        img {
          height: 100%;
        }
    
        &-inner {
          padding-bottom: 0;
        }
        // &-full-height{
        //     .wall-stuck-card-header,
        //     .wall-stuck-inner{
        //         padding-bottom: 100%;
        //     }
        // }
      }
    
}
