h1 {
    font: 700 calc-rem(110px) $font-primary;
    letter-spacing: -0.5px;
    line-height: calc-rem(100px);
    &.h1-title{
        &-lg{
            font: 700 6.5vW $font-secondary;
            line-height: 6.5vW;
            color: $color-white;
            letter-spacing: 5.15px;
            transform: rotate(-5deg);
        }
    }

    @include media-breakpoint-down(md) {
        font-size: calc-rem(36px);
        letter-spacing: -0.53px;
        line-height: calc-rem(40px);

        &.h1-title-lg {
            font-size: 8vW;
            line-height: 8vW;
        }
    }

    @include media-breakpoint-down(sm) {
        &.h1-title-lg {
            font-size: 12vW;
            line-height: 12vW;
        }
    }
}

h2 {
    font: 400 calc-rem(86px) $font-primary;
    letter-spacing: -0.53px;
    line-height: calc-rem(86px);

    &.h2-title {
        &-display {
            font: 700 calc-rem(74px) $font-secondary;
            color: $color-secondary;
        }
    }

    &.h2-sm {
        font-size: calc-rem(26px);
        line-height: calc-rem(30px);
    }

    &.h2-md {
        font-size: calc-rem(32px);
        letter-spacing: -0.85px;
        line-height: calc-rem(40px);
    }

    @include media-breakpoint-down(md) {
        font-size: calc-rem(26px);
        letter-spacing: -0.38px;
        line-height: calc-rem(34px);

        &.h2-title {
            &-display {
                font-size: calc-rem(42px);
            }
        }
        &.h2-sm{
            font-size: calc-rem(18px) ;
            line-height: calc-rem(26px);
        }
        &.h2-md{
            font-size: calc-rem(18px);
            line-height: calc-rem(26px);
        }
    }
}

h3 {
    font: 400 calc-rem(66px) $font-primary;
    letter-spacing: 0px;
    line-height: calc-rem(71px);

    &.h3-sm {
        font-size: calc-rem(24px);
        line-height: calc-rem(30px);
    }
    &.h5-title {
        &-display{
            font: 700 calc-rem(56px) $font-secondary;
            color: $color-secondary;
        }
    }
    
    @include media-breakpoint-down(md) {
        font-size: calc-rem(26px);
        letter-spacing: -0.38px;
        line-height: calc-rem(32px);
    }
}

h4 {
    font: 400 calc-rem(60px) $font-primary;
    letter-spacing: -0.38px;
    line-height: calc-rem(60px);
    
    &.h4-sm {
        font-size: calc-rem(22px);
        line-height: calc-rem(34px);
    }
    &.h4-title {
        &-display{
            font: 700 calc-rem(46px) $font-secondary;
            color: $color-secondary;
        }
    }
}

h5 {
    font: 400 calc-rem(46px) $font-primary;
    letter-spacing: -1.24px;
    line-height: calc-rem(48px);

    &.h5-sm {
        font-size: calc-rem(20px);
        line-height: calc-rem(30px);
    }

    &.h5-title {
        &-display {
            font: 700 calc-rem(40px) $font-secondary;
            color: $color-secondary;

            &-white {
                font: 700 calc-rem(40px) $font-secondary;
                color: $color-white;
            }
        }
    }
}

h6 {
    font: 400 calc-rem(40px) $font-primary;
    letter-spacing: -0.97px;
    line-height: calc-rem(44px);

    &.h6-sm {
        font-size: calc-rem(18px);
        line-height: calc-rem(27px);
        letter-spacing: -0.36px;
    }

    &.h6-title {
        &-display{
            font: 700 calc-rem(34px) $font-secondary;
            color: $color-secondary;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $color-black;
}