// COLOR GENERATOR
@each $name, $color in ($colors) {
  .text-#{$name} {
    color: $color;
  }
}

// MANUAL TEXT COLORS
p {
  font: 400 1rem $font-primary;
  line-height: calc-rem(32px);
  color: $color-black;

  @include media-breakpoint-down(md) {
    font-size: calc-rem(14px);
    line-height: calc-rem(26px);
  }
}

.text {
    &-white,
    &-blue,
    &-blue-light {
        strong {
            color: $color-secondary;
        }
    }



    &-red strong {
        color: $color-white;
    }
    &-black strong{
      color: $color-secondary;
    }
}

// TEXT SIZES
.text {
    &-xs {
        font: 400 calc-rem(12px) $font-primary;
        line-height: calc-rem(22px);
    }
    &-sm {
        font: 400 calc-rem(14px) $font-primary;
        line-height: calc-rem(26px);
    }

    &-md {
        font: 400 calc-rem(18px) $font-primary;
        line-height: calc-rem(32px);
    }
}