.offset-block{
  width: 100%;
  display: inline-block;
  position: relative;
  margin-bottom: calc-rem(60px);
  padding: 6.5vW;
  &::after {
      content: ""; 
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-black;
      opacity: .2;
    }
    &-lower{
      // transform: translateY(50%);
      margin-bottom: 0;
      // margin-top: -18vW;
    }
    &-image{
      position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img{
      object-fit: cover;
        height: 100%;
      }
  }
  &-center{
    position: relative;
    height: 100%;
    width: 70%;
    margin: 0 auto;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
      text-align: center;
    }
  }
  &-content{
    position: relative;
    height: 100%;

    z-index: 10;
    &-date{
      color: $color-white;
      font-size: calc-rem(24px);
      font-weight: 500;
      margin-bottom: calc-rem(200px);
    }
    &-heading{
      font-family: $font-secondary;
      color: $color-white;
    }
    &-text{
      color: $color-white;
      font-size: calc-rem(40px);
      letter-spacing: -0.97px;
      line-height: calc-rem(44px);
      margin-bottom: 0;
      strong{
        color: $color-secondary;
      }
    }
    &-button{
      height: 100%;
      display: flex;
      align-items: flex-end;
    }

} 
  @include media-breakpoint-down(md){
    &-content{    
      &-date{
        font-size: calc-rem(16px);
        margin-bottom: calc-rem(200px);
      }
      &-text{
        color: $color-white;
        font-size: calc-rem(28px);
        letter-spacing: -0.97px;
        line-height: calc-rem(44px);
        margin-bottom: calc-rem(16px);
      }
      &-button{
        button{
          width: 100%;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 8.5vW 6.5vw;
  }
}