.popup{
    &-heading{
        display: flex;
        justify-content: space-between;
        width: 100%;
        &-info{
            display: flex;
            align-items: center;
            margin-bottom: calc-rem(24px);
            &-location{
                color: $color-secondary;
                font-weight: 600;
                text-transform: uppercase;
            }
            i{
                margin: 0 calc-rem(8px);
            }
            &-type{
                color: $color-secondary;
                text-transform: uppercase;
            }
        }
        .tag-red,
        .tag-blue{
            font-weight: 600;
        }
    }

    &-title{
        margin-bottom: calc-rem(56px);
        &-sm{
            font-weight: 600;
            margin-bottom: calc-rem(32px);
        }
        &-md{
            padding-bottom: calc-rem(50px);
            border-bottom: 1px solid $color-gray;
            margin-bottom: calc-rem(32px);
            font-weight: 700;
        }

    }
    &-subtitle{
        font-weight: 500;
        margin-bottom: calc-rem(40px);
        line-height: calc-rem(34px);
    }
    &-text{
        line-height: calc-rem(30px);
        margin-bottom: calc-rem(38px);
    }
    &-image{
        margin-bottom: calc-rem(42px);
        img{
            height: calc-rem(348px);
        }
    }
    &-list{
        margin-bottom: calc-rem(60px);
        p{
            margin-bottom: 0;
        }
    }
    &-divider{
        height: 1px;
        background-color: $color-gray;
        width: 100%;
        margin: calc-rem(40px) 0;
    }
    @include media-breakpoint-down(md){
        &-heading{
            margin-bottom: 0;
            &-field{
                display: none;
            }
        }
        &-title{
            font-size: calc-rem(32px);
            margin-bottom: calc-rem(40px);
            &-sm{
                font-size: calc-rem(18px);
            }
            &-md{
                padding-bottom: calc-rem(32px);
                margin-bottom: calc-rem(22px);
                font-size: calc-rem(40px);
                line-height: calc-rem(48px);
            }
           h2{
                font-size: calc-rem(64px);
            }
    
        }
        &-subtitle{
            font-size: calc-rem(18px);
            margin-bottom: calc-rem(20px);
        }
        &-text{
            margin-bottom: calc-rem(52px);
        }
        &-image{
            margin-bottom: calc-rem(24px);
            img{
                height: calc-rem(168px);
            }
        }
    }

}



.modal{
    &-dialog {
        position: relative;
        max-width: 100%;
        margin: 0;     
        &::after{
            content: "";
            position: absolute;
            background-color: $color-white;
            right: -50vw;
            top: 0;
            width: 50vw;
            height: 100%;
        }
    }
     &-content{
        border: none;
        border-radius: 0;
        padding: calc-rem(112px) calc-rem(166px);
     }
     &-header{
        border: none;
        button{
            position: absolute;
            left: -60px;
            width: calc-rem(72px);
            height: calc-rem(64px);
            border: none;
            border-radius: calc-rem(32px) 0 0 calc-rem(32px);
            background-color: $color-white;
        } 
        }
        @include media-breakpoint-down(md){
            &-content{
                padding: calc-rem(64px) calc-rem(32px);
             }
             &-header{
                button{
                    right: calc-rem(40px);
                    top: calc-rem(24px);
                } 
        }
    }    
}



// .modal {
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 1000;
//     display: none;
//     width: 100%;
//     height: 100%;
//     overflow-x: hidden;
//     overflow-y: auto;
//     outline: 0;
//   }
//   .modal-dialog {
//     // position: relative;
//     // width: auto;
//     // margin: calc-rem(28px);
//     // pointer-events: none;

//   }
  
//   .modal-content {
//     position: fixed;
//     right: 0;
//     top: 0;
//     width: 80%;
//     max-width: calc-rem(1250px);
//     height: 100%;
//     background: $color-white;
//     overflow-x: hidden;
//     overflow-y: auto;
//   }

//     // padding: calc-rem(15px) calc-rem(28px);
//     // position: relative;
//     // display: flex;
//     // flex-direction: column;
//     // width: 100%;
//     // border-radius: calc-rem(6px);
//     // pointer-events: auto;
//     // background-color: $color-white;
//     // background-clip: padding-box;
//     // border: $modal-content-border-width solid $modal-content-border-color;
//     // outline: 0;
//   }
  
//   .modal-backdrop {
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 100;
//     width: 100vw;
//     height: 100vh;
//     background-color: rgba($color-black, 0.7);
//   }
  
//   .modal-header {
//     display: flex;
//     flex-shrink: 0;
//     align-items: center;
//     justify-content: space-between;
//     padding: $modal-header-padding;
//   }
  
//   .modal-title {
//     margin-bottom: 0;
//     color: $color-primary;
//   }
  
//   .modal-body {
//     position: relative;
//     flex: 1 1 auto;
//     padding: calc-rem(16px);
//   }
  
//   .modal-footer {
//     margin: calc-rem(30px) 0;
//     display: flex;
//     flex-wrap: wrap;
//     flex-shrink: 0;
//     align-items: center;
//     justify-content: flex-end;
  
//     .btn-modal {
//       width: calc-rem(180px);
//     }
  
//     > * {
//       margin: $modal-footer-margin-between * 0.5;
//     }
//   }
  
//   // Scale up the modal
//   @include media-breakpoint-up(sm) {
//     .modal-dialog {
//       max-width: calc-rem(750px);
//       margin: $modal-dialog-margin-y-sm-up auto;
//     }
  
//     .modal-dialog-scrollable {
//       height: subtract(100%, $modal-dialog-margin-y-sm-up * 2);
//     }
  
//     .modal-dialog-centered {
//       min-height: subtract(100%, $modal-dialog-margin-y-sm-up * 2);
//     }
  
//     .modal-content {
//       @include box-shadow($modal-content-box-shadow-sm-up);
//     }
  
//     .modal-sm {
//       max-width: $modal-sm;
//     }
//   }
  
//   @include media-breakpoint-up(lg) {
//     .modal-lg,
//     .modal-xl {
//       max-width: $modal-lg;
//     }
//   }
  
//   @include media-breakpoint-up(xl) {
//     .modal-xl {
//       max-width: $modal-xl;
//     }
//   }
  