.partners-slider{
    .slick-list{
        padding-right: calc-rem(60px);
    }
    @include media-breakpoint-down(md){
        margin: 0 calc-rem(-12px);
    }
}
.jobs-list-cards{
    .slick-dots{
        li button:before{
            color: $color-secondary;
        }
        
    }
}

.big-slider{
    overflow: hidden;

    &-inner {
        display: flex;
    }
    .slick-slider .slick-slide {
        margin-right: 0;
    }

    .slick-prev{
        display: none;
    }
    .slick-next{
        right: calc-rem(55px);
        font-size: calc-rem(16px);
        text-transform: uppercase;
        font-weight: 400;
        line-height: 1;
        width: auto;
        height: auto;
        color: #fff;
        &::before{
            content: '';
            position: absolute;
            display: block;
            width: calc-rem(100px);
            height: calc-rem(100px);
            border-radius: 50%;
            background: rgba(255, 42 ,0, .8);
            top: 50%;
            right: calc-rem(-36px);
            transform: translateY(-50%);
            z-index: -1;
        }
        &::after{
            content: '';
            @include absolute-center-center;
            left: 45px;
            width: 12px;
            height: 12px;
            background-image: get-icon("icon-triangle-outlined", $color-white);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        }
    .slick-item > div {
        height: 100%;
    } 
    &-item{
        width: 100%;
        height: 100%;
        display: inline-block;
        position: relative;
        padding: calc-rem(78px) 0 calc-rem(96px);
        &::after {
            content: ""; // ::before and ::after both require content
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $color-black;
            opacity: .4;
        }
    }   
    &-image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img{
            object-fit: cover;
            height: 100%;
        }
    }
    &-content{
        position: relative;
        z-index: 10;
        h1{
            color: $color-white;
            margin: calc-rem(26px) 0 calc-rem(48px);
            font-weight:500;
        }
        &-text p {
            color: white;
            font-size: calc-rem(20px);
            line-height: calc-rem(35px);
            margin-bottom: calc-rem(56px);
        }
        &-buttons{
            a{
                width: calc-rem(180px);
                margin-right: calc-rem(12px);
            }
        }
    }
    @include media-breakpoint-down(md){
        .slick-next{
            right: calc-rem(-44px);
            font-size: calc-rem(2px);
            &::before{
                content: '';
                width: calc-rem(168px);
                height: calc-rem(168px);
                right: calc-rem(-50px);
                }
                &::after{
                    width: calc-rem(24px);
                    height: calc-rem(24px);
                    left: calc-rem(-70px);
                }
            }  
            &-item{
                padding: calc-rem(24px) 0 calc-rem(32px);

            }
        &-content {
            h1{
                padding-right: calc-rem(70px);
                font-size: calc-rem(56px);
                font-weight: 400;
                letter-spacing: -0.25px;
                line-height: calc-rem(56px);
                margin-bottom: calc-rem(22px);
            }
            &-text{
                padding-right: calc-rem(70px);
                line-height: calc-rem(26px);
            }
            &-buttons{
                a{
                    width: 100%;
                    margin-bottom: calc-rem(16px);
                }
            }
        }
    }
}

.slick-slider {
    .slick {
        &-track {
            display: flex;
        }

        &-slide {
            height: auto;
            margin-right: calc-rem(12px);
            > div {
                height: 100%;
            }
        }
    }
}

.slider-mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 calc-rem(-12px) calc-rem(80px);

    &-item {
        max-width: calc(100% / 3);
        width: 100%;
        padding: calc-rem(12px) calc-rem(12px) calc-rem(20px);
    }
    
    @include media-breakpoint-down(md) {
        display: block;
        margin: 0 0 calc-rem(80px);

        .slick-list {
            padding-right: calc-rem(50px);
        }
        
        &-item {
            height: 100%;
            max-width: 100%;
            padding-left: calc-rem(8px);
            padding-right: calc-rem(8px);
        }
    }
}

.slider-wrapper{
    .slick-track {
        cursor: url('../assets/cursors/custom-drag-cursor-blue.svg'), auto;
    }
    .slick-list{
        overflow: visible;
    }
}

.methods-slider,
.tech-slider{
    .slick{
        &-list{
                .slick-slide > div{
                    height: auto;
                    min-height: calc-rem(180px);
                }
        }
    }
}

.tech-slider{

    .slick-track {
        cursor: url('../assets/cursors/custom-drag-cursor-blue.svg'), auto;
    }
    @include media-breakpoint-down(md) {
        &-item{
            .badge{
                &-thumbnail{
                    margin-bottom: calc-rem(14px);
                }
                &-title{
                    color: $color-purple;
                }
                &-text{
                    padding-right: calc-rem(24px);
                }
            }
        }
    }
}

.methods-slider{
    &::before{
        content: "";
        background-color: darken(saturate($color-blue, 5), 7.84);
        position: absolute;
        left: -1000%;
        height: 100%;
        width: 1000%;
        z-index: 1;
    }
    @include media-breakpoint-down(md) {
        &-card{
            background-color: rgba($color-white, 0.1);
            border-radius: calc-rem(8px);
            padding: calc-rem(16px);
            h6{
                color: $color-secondary;
                font-size: calc-rem(16px);
                font-weight: 700;
            }
        }
    }
}


.split-slider{
    margin-bottom: calc-rem(50px);
    height: 100%;
    .row{
        height: 100%;
    }
    &-image{
        height: 100%;
        img{
            height: 100%;
        }
    }
    &-item{
        height: 100%;
    }
    &-content{
        background-color: $color-primary;
        padding: calc-rem(80px) calc-rem(124px) calc-rem(100px);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h5{
            letter-spacing: 0.82px;
            line-height: calc-rem(48px);
            width: 50%;
            text-align: center;
        }
        p{
            text-align: center;
        }
    }
    .slick-list {
        .slick-slide {
                margin-right: 0;
        }
        
    }
    .slick-dots{
        width: 50%;
        right: 0;
        bottom: calc-rem(60px);
        .slick-active{
                button:before{
                    color: $color-secondary;
                }            
        }
        li{
            button:before{
                 color: $color-white;
             }
        }
    }
    @include media-breakpoint-down(md){
        &-content{
            padding: calc-rem(40px) calc-rem(24px);
            h5{
                letter-spacing: 0.71px;
                line-height: calc-rem(48px);
            }
        }
        .slick-dots{
            width: 100%;
            bottom: calc-rem(24px);
        }
    }
}