//BOOTSTRAP TABS
.nav {
    &-tabs {
        display: flex;
        align-items: center;
        margin: 0 calc-rem(-5px) calc-rem(70px);
    }

    &-item {
        flex: 1;
        max-width: 25%;
        margin: 0 calc-rem(5px);
    }

    &-link {
        width: 100%;
        color: $color-secondary;
        padding-bottom: calc-rem(16px);
        border-bottom: 8px solid $color-brown;
        font-size: calc-rem(16px);
        font-weight: 700;

        &.active {
            color: $color-primary;
            border-color: $color-primary;
        }
    }
}

.tabs {
    margin-bottom: calc-rem(48px);

    &-button {
        border: 1px solid transparent;
        background-color: transparent;
        padding: calc-rem(5px) 0;
        font-weight: 600;
        color: $color-primary;

        &:active,
        &:hover {
            border: 1px solid $color-white;
            border-radius: calc-rem(22px);
        }

        &-white {
            color: $color-white;
            width: calc-rem(166px);
            font-weight: 400;

            &:active,
            &:hover {
                border-color: $color-white;
            }
        }
        &-red {
            color: $color-white;
            width: calc-rem(166px);
            font-weight: 400;

            &:active,
            &:hover {
                border-color: $color-white;
                color: $color-secondary;
            }
        }

        &-blue {
            width: calc-rem(166px);

            &:active,
            &:hover {
                border-color: $color-primary;
            }
        }

        &-lg {
            font-size: calc-rem(18px);
            width: calc-rem(166px);

            &:active,
            &:hover {
                color: $color-secondary;
                background-color: $color-gray-3;
                border: none;
            }
        }

        &-xl {
            font-size: calc-rem(32px);
            text-transform: uppercase;
            background-color: transparent;
            color: $color-primary-light;
            font-weight: 600;
            border: none;

            &:not(:last-child) {
                &::after {
                    content: '';
                    display: inline-block;
                    background: get-icon("icon-triangle", $color-secondary) no-repeat center center;
                    height: calc-rem(14px);
                    width: calc-rem(14px);
                    margin: 0 calc-rem(10px);
                    vertical-align: middle;
                    padding: 0 calc-rem(22px);
                }
            }

            &:active,
            &:hover {
                color: $color-white;
                border: none;
                border-radius: 0;
            }
        }
    }

    @include media-breakpoint-down(md) {
        margin-bottom: calc-rem(24px);
        &-countries{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &-button {
            color: $color-primary;
            font-size: calc-rem(14px);
            border: none;
            border-bottom: 4px solid transparent;
            background-color: transparent;

            &:active,
            &:hover {
                color: $color-secondary;
                border: none;
                border-bottom: 4px solid $color-white;
                border-radius: 0;
            }

            &-white {
                color: $color-white;
                width: calc-rem(66px);
                padding: calc-rem(5px) 0;
                margin-right: calc-rem(24px);
                border: 4px solid transparent;
            }
            &-red{
                color: $color-white;
                width: calc-rem(88px);
                padding: calc-rem(5px) 0;
                margin-right: calc-rem(24px);
                border: none;
            }

            &-blue {
                width: calc-rem(66px);
                padding: calc-rem(5px) 0;
                margin-right: calc-rem(24px);
            }

            &-lg {
                width: calc-rem(96px);
                padding: calc-rem(5px) 0;
                margin-right: calc-rem(14px);
                
                &:active,
                &:hover {
                    background-color: transparent;
                    border-bottom: 4px solid $color-primary;
                }

            }

            &-xl {
                font-size: calc-rem(24px);

                &:active,
                &:hover {
                    color: $color-white;
                }
                &:not(:last-child) {
                    &::after {
                        content: none;
                    }
                }
            }
        }
    }
}