.toast {
  max-width: $toast-max-width;
  overflow: hidden; // cheap rounded corners on nested items
  font-size: $toast-font-size;
  color: $toast-color;
  background-color: $color-white;
  background-clip: padding-box;
  border: $toast-border-width solid $border-color;
  box-shadow: $toast-box-shadow;
  backdrop-filter: blur(10px);
  opacity: 0;
  border-radius: $border-radius-md;
  margin-bottom: $toast-padding-x;

  &:last-child {
    margin-bottom: 0;
  }

  &.showing {
    opacity: 1;
  }

  &.show {
    display: block;
    opacity: 1;
  }

  &.hide {
    display: none;
  }

  &-header {
    display: flex;
    align-items: center;
    padding: $toast-padding-y $toast-padding-x;
    color: $toast-header-color;
    background-color: $color-primary;
    background-clip: padding-box;
    border-bottom: $toast-border-width solid $border-color;

    .close {
      border: none;
      background: none;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1;
      color: $color-black;
      text-shadow: 0 1px 0 $color-black;
      margin-left: calc-rem(8px);
    }
  }

  &-body {
    padding: $toast-padding-x; // apply to both vertical and horizontal
  }
}
