﻿// TRIPLE LINE MENU BUTTON
.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: calc-rem(30px);
    height: calc-rem(30px);
    margin-left: auto;
    padding-right: 0;
    background-color: transparent;
    border: none;
    z-index: 10;

    &-text {
        color: $color-white;
        font-size: calc-rem(18px);
        line-height: calc-rem(38px);
    }

    &-inner {
        position: relative;
        background-color: $color-white;
        height: calc-rem(2px);
        min-width: calc-rem(40px);
        margin-left: calc-rem(50px);
        @include transition((min-width, margin-left, background-color), .25s);

        &::before,
        &::after {
            content: '';
            position: absolute;
            right: 0;
            height: calc-rem(2px);
            width: calc-rem(40px);
            background-color: $color-white;
            @include transition((background-color, top, transform), .25s);
        }

        &::before {
            top: calc-rem(-11px);
        }

        &::after {
            top: calc-rem(11px);
        }
    }

    &:hover {
        .menu-toggle-inner {
            background-color: $color-secondary;

            &::before,
            &::after {
                background-color: $color-secondary;
            }
        }
    }

    &-open {
        .menu-toggle-inner {
            min-width: 0;
            margin-left: calc-rem(90px);

            &::before,
            &::after {
                top: 0;
            }

            &::before {
                transform: rotate(225deg);
            }

            &::after {
                transform: rotate(-225deg);
            }
        }
    }
}