$select-arrow-width: 6px;

.chosen-select-lg{
    margin-bottom: calc-rem(60px);
    min-width: calc-rem(340px);
        .chosen-container{
            .chosen-drop{
                background-color: transparent;
            }
            &-single .chosen-single,
            &-multi .chosen-choices {
                height: calc-rem(60px);
                background: transparent;
                color: $color-white;
                span{
                    font-size: calc-rem(44px);
                    line-height: calc-rem(64px);
                    text-transform: uppercase;
                }
            }
            &-single .chosen-single,
            &-multi .chosen-choices {
                color: $color-white;
                background: transparent;

            }
            
            &-active {
                &.chosen-with-drop {
                    .chosen-single,
                    .chosen-choices {
                        background-color: transparent;
                        font-size: calc-rem(44px);
                        border-bottom: 1px solid $color-secondary;
                    }
                }
            }
            .chosen-results {                
                li.active-result {
                    color: $color-white;
                    
                    &.highlighted {
                        color: $color-white;
                        background-color: $color-secondary;
                    }
        
                }
            }
        }
}

.chosen-container {
    font-weight: 500;
    color: $color-primary; 
    
    &-single .chosen-drop,
    &-single .chosen-single,
    &-multi .chosen-choices li.search-choice {
        border-radius: 0;
    }

    &-single .chosen-single,
    &-multi .chosen-choices {
        display: flex;
        align-items: center;
        height: calc-rem(36px);
        color: $color-primary;
        border: none;
        border-bottom: 1px solid $color-secondary;
        background: $color-white;
        box-shadow: none;
        padding-left: calc-rem(15px);

        span{
            font-size: calc-rem(16px);
        }

        & > div > b {
            position: relative;
            background: none;

            &::before {
                content: '';
                position: absolute;
                top: 40%;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 11px 7px 0 7px;
                border-color: $color-secondary transparent transparent transparent;
                right: calc-rem(15px);
                transition: 0.2s ease-in;
            }
        }
    }

    .chosen-drop {
        margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        box-shadow: none;
        border:none;
    }

    .chosen-results {
        margin: 0 ;
        padding: 0 0 0 calc-rem(15px);
        
        li.active-result {
            padding: calc-rem(8px) 0;      
            margin-left: calc-rem(-15px);
            padding-left: calc-rem(15px);
            color: $color-primary;
            
            &.highlighted {
                color: $color-white;
                background-color: $color-secondary;
            }

            // &.result-selected {
            //     color: $color-primary;
            // }
        }
    }

    &-active {
        &.chosen-with-drop {
            .chosen-single,
            .chosen-choices {
                background: $color-white;
                font-size: calc-rem(16px);
                border: none;
                border-bottom: 1px solid $color-secondary;
                box-shadow: none;
                & > div > b {
                    &::before {
                      transform: rotate(-180deg);
                    }
                  }
            }
        }
    }

    .chosen-results li.highlighted {
        background-color: $color-primary;
        background-image: none;
        color: $color-white;
    }

    &.chosen-container-multi {
        .chosen-choices {
            .search-field {
                width: 100%;
            }

            &::after {
                content: '';
                position: absolute;
                //background: $icon-search no-repeat center;
                background-size: contain;
                width: calc-rem(15px);
                height: calc-rem(15px);
                top: 50%;
                right: calc-rem(20px);
                transform: translateY(-50%);
            }
        }
    }
    @include media-breakpoint-down(md){
        &-single .chosen-single,
        &-multi .chosen-choices {
            padding-left: 0;
        }
    }
}

.select-with-label {
    position: relative;

    label {
        position: absolute;
        top: calc-rem(12px);
        left: calc-rem(15px);
        font-size: calc-rem(10px);
        z-index: 2;
    }
    .chosen-container {
        &-single .chosen-single,
        &-multi .chosen-choices {
            span {
                color: $color-black;
                margin-top: calc-rem(12px);
            }
        }
    }
}