.input-search {
    position: relative;
    input {
      padding-right: calc-rem(150px);
      padding-left: calc-rem(45px);
      border-radius: calc-rem(42px);
      &::placeholder{
        color: $color-gray-2;
        font-size: 16px;
        font-family: $font-primary;
        font-weight: 500;
      }
    }
    button {
      position: absolute;
      top: 49%;
      transform: translate(-50%, -50%);
      right: calc-rem(-48px);
      &:hover{
        color: $color-white;
        background-color: $color-secondary;
        border-color:  $color-secondary;
      }
    }
    @include media-breakpoint-down(md){
      display: flex;
      flex-direction: column;
      input {
        padding-left: calc-rem(32px);
        padding-right: calc-rem(32px);
        margin-bottom: calc-rem(16px);
      }
      button{
        position: static;
        top: 0;
        transform: translate(0, 0);
      }
  }
}