// Checkbox
.input-radio {
  @include radio-checkbox($radiobox-width, $border-radius-circle);
  margin: calc-rem(10px) 0;

  input[type="radio"] + label {
    z-index: 0;

    &::before {
      width: $checkbox-width - math.div($checkbox-width, 3);
      height: $checkbox-width - math.div($checkbox-width, 3);
      background-color: $color-white;
      left: calc-rem(5px);
      top: 50%;
      border-radius: $border-radius-circle;
      transform: translateY(-50%) scale(0, 0);
    }
  }

  input[type="radio"] {
    min-width: initial;

    &:checked + label::before {
      transform: translateY(-50%) scale(1, 1);
    }

    &:checked + label::after {
      border-color: $border-color;
    }

    &:disabled + label::after {
      background-color: lighten($color-gray, 26%);
    }
  }
}
