input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=tel] {
    @extend %global-field-style;
    max-height: calc-rem(56px);
}
input[type=search]{
    @extend %global-field-style;
    max-height: calc-rem(85px);
    @include media-breakpoint-down(md){
        max-height: calc-rem(72px);
    }
}