.banner {
    padding-top: calc-rem(200px);
    background-color: darken(saturate($color-blue, 5), 7.84);
    padding-bottom: calc-rem(120px);
    // overflow: hidden;
    &-bg {
        background-color: $color-primary;
        min-height: 60vh;
    }

    &-title {
        color: $color-white;
        margin-bottom: calc-rem(44px);
    }

    &-subtitle {
        color: $color-white;
        font-size: calc-rem(26px);
        font-weight: 300;
        margin-bottom: calc-rem(56px);
    }

    &-services {
        color: $color-white;
        font-size: calc-rem(24px);
        font-weight: 600;
        margin-bottom: calc-rem(52px);

        span {
            color: $color-secondary;
        }
    }

    &-image {
        &-mobile {
            display: none;
            position: relative;
            z-index: 100;
        }
    }

    &-offset {
        padding-bottom: 0;
        // margin-bottom: 20vW;
    }

    &-poster {
        width: 100%;
        /*        height: 100%;*/
        position: relative;
        padding-bottom: calc-rem(68px);
        /*   height:calc-rem(580px);*/
        min-height: calc-rem(600px);

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $color-black;
            opacity: .2;
        }

        &-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            img {
                object-fit: cover;
                height: 100%;
            }
        }

        &-content {
            position: relative;
            z-index: 10;
            width: 70%;
            /*            height: 100%;*/
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-top: calc-rem(300px);

            &-title {
                color: $color-white;
                margin-bottom: calc-rem(16px);
                letter-spacing: 1.63px;
                line-height: 53.06px;
            }
        }

        &-testimonial {
            display: flex;

            &-name {
                font-size: calc-rem(18px);
                color: $color-secondary;
                margin-right: calc-rem(5px);
            }

            &-occupation {
                font-size: calc-rem(18px);
                color: $color-white;
            }
        }
    }

    &-sm {
        // padding-top: calc-rem(160px);
        padding-bottom: calc-rem(80px);
    }

    &-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .tag-red {
            font-weight: 500;
            letter-spacing: 2px;
            line-height: 45px;
        }
    }

    &-card {
        padding: calc-rem(40px);
        height: calc-rem(430px);
        width: 100%;
        transition: all .2s ease-in-out;
        position: relative;
        // z-index: 1;
        &-wrapper {
            display: flex;
        }

        &-image {
            max-height: calc-rem(25px);
            width: auto;
            transition: all .2s ease-in-out;
        }

        &-body {
            bottom: calc-rem(60px);
            box-sizing: border-box;
            left: 0;
            padding: 0 calc-rem(40px);
            position: absolute;
            transition: top 0.35s ease 0s;
            // @include transition
            width: 100%;
            z-index: 2;
        }

        &-title {
            color: $color-white;
            font-size: calc-rem(34px);
            font-weight: 700;
            margin: 0 0 calc-rem(10px);
            padding: calc-rem(3px) 0 0 0;
        }

        &-list {
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition: all 1.5s ease 0s;
            padding-left: 0;

            &-item {
                color: $color-white;
                margin: 0;

                i {
                    margin-right: calc-rem(15px);
                }
            }
        }

        &:hover {
            transform: scale(1.1);
            z-index: 100;

            .banner-card-image {
                max-height: calc-rem(60px);
            }

            .banner-card-list {
                max-height: calc-rem(660px);
                opacity: 1;
            }
        }
    }

    &-block {
        // position: relative;

        &-wrapper {
            padding: calc-rem(40px) 0;
        }

        &-title {
            @extend .text-blue;
            margin-bottom: calc-rem(50px);
        }

        &-subtitle {
            color: $color-primary;
            font-weight: 600;
            margin-bottom: calc-rem(40px);
        }

        // .badge {
        //     margin-top: calc-rem(60px);
        // }

        &-80-top-offset {
            // top: calc-rem(-80px);
            margin-top: calc-rem(-80px);
        }
    }

    .case-studies {
        &-title {
            margin-bottom: calc-rem(60px);
        }

        &-text {
            max-width: 90%;
            margin-bottom: 0;
        }
    }
    // BANNER CATEGORIES
    &-solutions{
        &-heading{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: calc-rem(40px);
            h2{
                font-weight: 600;
            }
            &-wrapper{
                border-bottom: 1px solid $color-white;
                padding-bottom: calc-rem(60px);
                margin-bottom: calc-rem(60px);
            }
            img{
                height: calc-rem(48px);
                width: auto;
            }
        }
        &-description{
            padding: calc-rem(24px) 0;
            h6{
                margin-bottom: calc-rem(32px);
            }
        }
        .tabs{
            margin-top: calc-rem(90px);
        }
    }

    &-cases {
        .banner {
            &-title {
                color: $color-white;
                margin-bottom: calc-rem(44px);
            }

            &-subtitle {
                color: $color-white;
                font-size: calc-rem(26px);
                font-weight: 300;
                margin-bottom: calc-rem(56px);
            }
        }
    }

    &-trainee {
        padding-bottom: 0;
    }

    @include media-breakpoint-down(md) {
        padding-bottom: calc-rem(40px);

        &-title {
            font-size: calc-rem(32px);
            padding-right: calc-rem(24px);
            margin-bottom: calc-rem(24px);
        }

        &-subtitle {
            font-size: calc-rem(18px);
            margin-bottom: calc-rem(24px);
            letter-spacing: 0;
            line-height: 26px;
        }

        &-services {
            font-size: calc-rem(18px);
            margin-bottom: calc-rem(40px);
        }

        &-image{
            &-mobile{
                display:block;
            }
        }
        &-poster{
            display:none;
        }
        &-solutions{
            &-heading{
                flex-direction: column-reverse;
                align-items: flex-start;
                padding-bottom: calc-rem(24px);
                h2{
                    font-size:calc-rem(40px);
                }
                &-wrapper{
                    padding-bottom: calc-rem(38px);
                    margin-bottom: calc-rem(38px);
                }
                img{
                    height: calc-rem(30px);
                    margin-bottom: calc-rem(32px);
                }
            }
            &-text{
                font-weight: 300;
            }
            &-description{
                padding: calc-rem(24px) 0;
                h6{
                    font-size: calc-rem(24px);
                    line-height: calc-rem(32px);
                }
            }
            .tabs{
                margin-top: calc-rem(44px);
            }
        }
        &-card {
            padding: calc-rem(24px);
            height: calc-rem(340px);

            &-wrapper {
                flex-direction: column;
            }

            &-image {
                max-height: calc-rem(32px);
                margin-left: calc-rem(16px);
            }

            &-body {
                bottom: calc-rem(28px);
            }

            &-list {
                opacity: 1;
                max-height: 660px;
            }

            &:hover {
                transform: scale(1);

                .banner-card-image {
                    transform: scale(1);
                }
            }
        }
    }
}
