.case-studies{
  background-color: $color-primary;
  padding: calc-rem(48px) 0 calc-rem(98px);
  &-title{
      color: $color-secondary;
      font-weight: 600;
      margin-bottom: calc-rem(30px);
  }
  &-text{
      color: $color-white;
      font-size: calc-rem(24px);
      margin-bottom: calc-rem(68px);
      max-width: 75%;
      line-height: calc-rem(40px);

  }
  &-cards{
    background-color: $color-primary;
    padding: calc-rem(60px) 0;
  }
  .slick-dots{
      li{
          button{
              &::before{
                  color: $color-white;
              }
          }
      }
  }
  .card{
      &-heading{
         font-size:calc-rem(22px);
         margin-bottom: calc-rem(6px);
      }
  }

  @include media-breakpoint-down(md){
      padding: calc-rem(24px) 0 calc-rem(48px);
      margin-bottom: calc-rem(60px);
      &-title{
          font-size: calc-rem(48px);
          margin-bottom: calc-rem(24px);
      }

      &-text{
          font-size: calc-rem(18px);
          padding-right: 0;
          line-height: calc-rem(26px);
          margin-bottom: calc-rem(38px);
      }
  }
}

.case{
    padding: calc-rem(40px) 0;

    &-poster{
        height: calc-rem(772px);
        width: 100%;
        img{
            height: 100%;
        }
    }

    .badge {
        margin-top: calc-rem(60px);
    }


    .card-gray h5 {
        font-weight: 700;
        margin-bottom: calc-rem(34px);
    }

    .badge {
        margin-top: calc-rem(60px);
    }

    @include media-breakpoint-down(md){
        &-poster{
            height: calc-rem(352px);
        }
    }
}