.country-page{
    padding: calc-rem(36px) 0 calc-rem(124px);
        &-title{
            margin-bottom: calc-rem(80px);
            text-align: center;
        }
        &-info{
            margin-bottom: calc-rem(114px);
            &-content{
                margin-bottom: calc-rem(60px);
            }
        }

        &-gallery{
            display: flex;
            margin-bottom: calc-rem(90px);
            &-item{
                position: relative;
                padding-bottom: 100%;

                img{
                    @include absolute-fullsize;
                    width: 100%;
                    height: 100%;
                }

                &-wrapper {
                    padding: 0 calc-rem(12px);
                }
            }
        }
        .card{
            p{
                letter-spacing: 0;
                line-height: calc-rem(25px);
                 letter-spacing: 0;
            }
            .badge{
                margin-top: auto;
            }
        }
    
    @include media-breakpoint-down(md){        
            &-title{
                margin-bottom: calc-rem(40px);
            }
        
    }
}