.jobs-list{
    padding-top: calc-rem(90px);
    padding-bottom: calc-rem(100px);
    &-heading{
        margin-bottom: calc-rem(65px);
    }
    &-title{
        text-align: center;
        font-weight: 600;
        margin-bottom: calc-rem(58px);
    }
    &-positions{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: calc-rem(120px);
        h5{
            margin: calc-rem(122px) 0 calc-rem(42px);
            text-align: center;
        }
        &-detail{
            margin-bottom: calc-rem(84px);
            &-title{
                margin-bottom: calc-rem(28px);
            }
            &-text{
                line-height: calc-rem(26px);
            }
            &-cta{
                color: $color-primary-light;
                font-size: calc-rem(18px);
                font-weight: 700;
                i{
                    margin-right: calc-rem(16px);
                }
            }
        }
    }
    .tabs{
        margin-top: calc-rem(46px);
        margin-bottom: calc-rem(110px);
    }
    &-info{
        &-title{
            margin-bottom: calc-rem(46px);
            line-height: calc-rem(46px);
        }
        &-subtitle{
            color: $color-primary;
            font-size: calc-rem(20px);
            font-weight: 500;
            line-height: calc-rem(34px);
            margin-bottom: calc-rem(20px);
        }
        &-text{
            line-height: calc-rem(30px);
        }
    }
    &-location{
        display: flex;
        justify-content: center;
        margin-top: calc-rem(46px);
        margin-bottom: calc-rem(40px);
        p{
            color: $color-primary;
            font-size: calc-rem(16px);
            font-weight: 700;

        }
        .form-select{
            width: calc-rem(152px);
        }
    }
    &-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: calc-rem(72px);
        .card{
            width: calc-rem(328px);
            height: calc-rem(362px);
          
            .workplace{
                display: flex;
                width: 100%;
                padding-bottom: calc-rem(3px);
                border-bottom: 1px solid $color-white;
                &-location{
                    font-size: calc-rem(10px);
                    font-weight: 700;
                    color: $color-white;
                    text-transform: uppercase;
                }
                i{
                    margin: 0 calc-rem(8px);
                }
                &-type{
                    font-size: calc-rem(10px);
                    color: $color-white;
                    text-transform: uppercase;
                }
            }
            .job{
                &-title{
                    color: $color-white;
                    font-size: calc-rem(32px);
                    font-weight: 700;
                    letter-spacing: -0.32px;
                    line-height: calc-rem(34px);
                    margin: calc-rem(16px) 0 calc-rem(46px);
                }
                &-description{
                    color: $color-white;
                    font-size: calc-rem(14px);
                    letter-spacing: 0;
                    line-height: calc-rem(22px);
                    margin-top: auto;
                }
            }
        }
    }
    &-consideration{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: calc-rem(72px);
        h5{
           
            margin-bottom: calc-rem(22px);
        }
        p{
            color: $color-primary;
            font-size: calc-rem(20px);
            font-weight: 500;
            text-align: center;
            margin-bottom: calc-rem(30px);
            letter-spacing: 0;
            line-height: calc-rem(32px);
        }
    }
    @include media-breakpoint-down(md){
        padding: calc-rem(32px) 0 calc-rem(56px);
        &-heading{
            font-size: calc-rem(40px);
            margin-bottom: calc-rem(32px);
        }
        &-title{
            margin-bottom: calc-rem(32px);
            text-align: center;
        }
        &-positions{
            h4{
                font-size: calc-rem(32px);
                line-height: calc-rem(38px);
                text-align: center;
                width: 80%;
            }
            h5{
                font-size: calc-rem(32px);
                margin: calc-rem(42px) 0 ;
            }
            &-detail{
                &-title{
                    font-size: calc-rem(32px);
                    margin-top: calc-rem(24px);
                    margin-bottom: calc-rem(24px);
                    letter-spacing: -0.64px;
                    line-height: calc-rem(32px);
                }
                &-cta{
                    font-size: calc-rem(14px);
                }
            }
        }
        .tabs{
            margin-bottom: calc-rem(32px);
        }
        &-info{
            &-title{
                font-size: calc-rem(32px);
                margin: calc-rem(24px) 0;
                letter-spacing: -0.64px;
                line-height: calc-rem(32px);
            }
            &-subtitle{
                line-height: calc-rem(24px);
            }
            &-text{
                line-height: calc-rem(24px);
            }
        }
        &-location{
            flex-direction: column;
            p{
                color: $color-primary;
                font-weight: 700;
                margin-bottom: calc-rem(8px);
            }
            .form-select{
                width: 100%;
            }
        }
        &-cards{
            margin-bottom: calc-rem(56px);
            .card{
                width: calc(100% - 40px);
                height: calc-rem(296px);
                margin: 0 auto;
            }
        }
        &-consideration{
            margin-top: calc-rem(46px);
            h4{
                font-size: calc-rem(32px);
                text-align: center;
            }
            h5{
                font-size: calc-rem(32px);
                margin-bottom: calc-rem(18px);
            }
            p{
                font-size: calc-rem(16px);
                width: 100%;
                margin-bottom: calc-rem(24px);
            }
            button{
                width: 100%;
            }
        }
    }

}