.news {
    background-color: $color-primary;
    padding: calc-rem(60px) 0 calc-rem(100px);

    &-heading {
        color: $color-secondary;
        margin-bottom: calc-rem(68px);
        font-weight: 500;

        strong {
            color: $color-white;
            font-weight: 700;
        }
    }

    button {
        width: calc-rem(240px);
        margin-top: calc-rem(50px);
    }

    @include media-breakpoint-down(md) {
        padding: calc-rem(32px) 0 calc-rem(48px);

        &-heading {
            margin-bottom: calc-rem(48px);
        }

        button {
            width: 100%;
            margin-top: calc-rem(30px);
        }
    }
}

.news-list{
  padding: calc-rem(48px) 0 calc-rem(80px);
  h4{
      margin-bottom: calc-rem(90px);
  }
  &-poster{
      margin-bottom: calc-rem(70px);
      img{
          height: calc-rem(268px);
      }
  }
}