.partners{
  padding:calc-rem(90px) 0 calc-rem(100px);
  background-color: $color-white;
  &-title{
      font-size: calc-rem(18px);
      font-weight: 700;
      letter-spacing: -0.24px;
      line-height: 26px;
      color: $color-primary;
      padding:0 calc-rem(50px) ;
      margin-bottom: calc-rem(60px);
      text-align: center;
      span{
          color: $color-secondary;
      }
  }
  &-slider{
      display: flex;
      justify-content: space-around;
  }
  &-logo{
      height: calc-rem(45px);
      width: auto;
  }
  @include media-breakpoint-down(md){
      padding:calc-rem(34px) 0 calc-rem(44px);
      &-title{
          margin-bottom: calc-rem(30px);
      }
      &-logo{
          height: calc-rem(32px);
          width: auto;
          margin: 0 auto;
      }
  }
}
