.blocks {
    background-image: url(../assets/images/Strips.svg);

    &-wrapper {
        padding: calc-rem(92px) 0 calc-rem(66px);
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            strong {
                color: $color-primary;
            }
        }
    }

    &-subtitle {
        display: flex;
        justify-content: center;

        p {
            font-size: calc-rem(24px);
            text-align: center;
            margin-bottom: calc-rem(40px);
            width: 80%;
        }
    }

    a {
        text-decoration: none;
    }

    .card {
        box-shadow: 0 calc-rem(10px) calc-rem(30px) 0 rgba(0,0,0,0.1);
        height: auto;

        &-body {
            padding-right: calc-rem(90px);
        }

        a {
            align-self: flex-end;
            margin-top: calc-rem(-40px);
        }

        i {
            margin-top: calc-rem(-40px);
        }

        &-footer {
            display: flex;
            justify-content: flex-end;
        }
    }

    &-about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: calc-rem(70px);

        p {
            font-size: calc-rem(23px);

            a {
                font-size: calc-rem(23px);
                color: $color-secondary;
                text-decoration: underline;
            }
        }
    }

    @include media-breakpoint-down(md) {
        &-wrapper {
            padding: calc-rem(40px) 0 calc-rem(56px);
        }

        &-subtitle p {
            font-size: calc-rem(18px);
            width: 100%;
        }

        .card {
            &-body {
                padding-right: 0;
            }

            i {
                display: none;
            }
        }

        &-about {
            margin-top: calc-rem(56px);

            p {
                font-size: calc-rem(23px);

                a {
                    font-size: calc-rem(23px);
                    color: $color-secondary;
                    text-decoration: underline;
                }
            }
        }
    }
}

.related-projects{
    padding-top: calc-rem(60px);
    overflow-x: hidden;
    h5{
        margin-bottom: calc-rem(68px);
    }
    &-divider{
        height: 1px;
        width: 100%;
        background-color: $color-gray-3;
        margin-top: calc-rem(90px);
    }
    &-wrapper {
        .slick-list {
            overflow: visible;
        }

        .slick-track {
            cursor: url('../assets/cursors/custom-drag-cursor.svg'), auto;
        }
    }
    @include media-breakpoint-down(md) {
        padding-top: calc-rem(32px);
        h5{
            font-size: calc-rem(24px);
            margin-bottom: calc-rem(30px);
            line-height: calc-rem(32px);
        }
    }
    
}


.project-info{
    padding: calc-rem(80px) 0 calc-rem(120px);
    &-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        h5{
            margin-bottom: calc-rem(62px);
        }
        .card{
            box-shadow: 0 8px 20px 0 rgba(0,0,0,0.1);
            height: calc-rem(345px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p{
                letter-spacing: 0;
                line-height: calc-rem(25px);
            }            
        }
    }
}

.trainee {
    &-title {
        margin-bottom: calc-rem(56px);
    }

    &-subtitle {
        font-size: calc-rem(32px);
        letter-spacing: 0;
        line-height: calc-rem(48px);
    }

    // &-card {
    //     transform: translateY(50%);
    //     z-index: 100;
    // }

    &-details {
        padding: calc-rem(80px) 0 calc-rem(120px);
    }

    &-info {
        .tag-red {
            margin-bottom: calc-rem(6px);
            font-weight: 600;
        }

        &-title {
            line-height: calc-rem(40px);
            margin-bottom: calc-rem(34px);
            font-weight: 500;
        }

        &-text {
            line-height: calc-rem(28px);
            margin-bottom: calc-rem(24px);
        }

        &-cta {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h5 {
                font-weight: 600;
                margin-bottom: 0;
                margin-right: calc-rem(20px);
            }
        }

        &-card {
            h5 {
                margin-bottom: calc-rem(26px) !important;
                font-weight: 600;
            }
        }
    }


    @include media-breakpoint-down(md) {
        &-title{
            font-size:calc-rem(40px);
        }
        &-subtitle{
            font-size:18px;
            line-height:calc-rem(24px);
        }
        &-info {
            margin-bottom: calc-rem(30px);
            &-cta {
                flex-direction:column;
                align-items:flex-start;
                h5 {
                    font-size:calc-rem(18px);
                    margin-bottom:calc-rem(14px);
                }
                a{
                    width:100%;
                }
            }
        }


        &-details {
            padding: calc-rem(40px) 0 calc-rem(60px);
        }
    }
}
.voxie{
    &-title {
        margin-bottom: calc-rem(56px);
    }

    &-subtitle {
        font-size: calc-rem(32px);
        letter-spacing: 0;
        line-height: calc-rem(48px);
        text-align: center;
    }

    &-card {
        transform: translateY(50%);
        z-index: 100;
    }

    &-details {
        padding: calc-rem(80px) 0 calc-rem(120px);
    }

    &-info {
        .tag-red {
            margin-bottom: calc-rem(6px);
            font-weight: 600;
        }

        &-title {
            line-height: calc-rem(40px);
            margin-bottom: calc-rem(34px);
            font-weight: 500;
        }

        &-text {
            line-height: calc-rem(28px);
            margin-bottom: calc-rem(24px);
        }

        &-cta {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h5 {
                font-weight: 600;
                margin-bottom: 0;
                margin-right: calc-rem(20px);
            }
        }

        &-card {
            &-title {
                margin-bottom: calc-rem(26px) !important;
                font-weight: 600;
            }

            .card-blue-light {
                border-radius: calc-rem(24px);
                padding-left: 0;
                padding-right: 0;

                .card {
                    &-heading {
                        border-bottom: 2px dashed $color-white;
                        margin-bottom: calc-rem(10px);

                        h5 {
                            padding-left: calc-rem(42px);
                            padding-right: calc-rem(42px);
                            text-transform: uppercase;
                        }
                    }
                    &-body {
                        padding-left: calc-rem(42px);
                        padding-right: calc-rem(42px);
                    }
                    &-footer{
                        padding-left: calc-rem(42px);
                        padding-right: calc-rem(42px);
                        h5{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }


    @include media-breakpoint-down(md) {
        &-title{
            font-size:calc-rem(40px);
        }
        &-subtitle{
            font-size:18px;
            line-height:calc-rem(24px);
            margin-top: calc-rem(40px);
        }
        &-info {
            margin-bottom: calc-rem(30px);
            &-cta {
                flex-direction:column;
                align-items:flex-start;
                h5 {
                    font-size:calc-rem(18px);
                    margin-bottom:calc-rem(14px);
                }
                a{
                    width:100%;
                }
            }
        }
        &-details {
            padding: calc-rem(40px) 0 calc-rem(32px);
        }
    }
}





.list {
    background-color: darken(saturate($color-blue, 5), 7.84);
    padding: calc-rem(76px) 0;

    &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h5 {
            margin-bottom: calc-rem(70px);
            text-align: center;
            width: 80%;
            line-height: calc-rem(42px);
            strong {
                color: $color-secondary;
            }
        }
        h3{
            margin-bottom:calc-rem(26px);
        }
    }

    @include media-breakpoint-down(md) {
        padding: calc-rem(44px) 0;

        &-wrapper {
            h5 {
                margin-bottom: calc-rem(34px);
                width: 80%;
            }
        }

        &-button {
            width: 100%;
        }
    }
}


.center-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: calc-rem(72px);
    margin-bottom: calc-rem(98px);
    h5{
        margin-bottom: calc-rem(32px);
        text-align: center;
    }
    p{
        text-align: center;
        margin-bottom: calc-rem(34px);
    }
    button{
        width: calc-rem(262px);
    }
    @include media-breakpoint-down(md){
        padding-top: calc-rem(52px);
        margin-bottom: calc-rem(52px);
        button{
            width: 100%;
        }
    }
}


.clients{
    &-left{
        margin-top: calc-rem(-120px);
    }
    &-right{
        margin-top: calc-rem(120px);
        margin-bottom: calc-rem(100px);
    }
    &-box {
        padding: calc-rem(52px);
        border: 1px solid $color-purple-light;
        background-color: $color-white;
        margin-bottom: calc-rem(24px);
        img{
            width: calc-rem(48px);
            height:auto;
            margin-bottom: calc-rem(18px);
        }
        h6{
            font-size: calc-rem(38px);
            font-weight: 500;
            margin-bottom: calc-rem(32px);
        }
        h2{
            font-weight: 600;
            margin-bottom: calc-rem(16px);
        }
        &-text {
            letter-spacing: 0;
            line-height: calc-rem(24px);

            &.ellipted {
                @include vertical-text-ellipsis(6);
            }
        }
        
        &-text-wrapper {
            max-height: calc-rem(1000px);
            overflow: hidden;
            @include transition(max-height, .25s);
            
            &.ellipted {
                max-height: calc-rem(144px);
            }
        }
        &-footer{
            margin-top: calc-rem(32px);
            button{
                font-size: calc-rem(18px);
                font-weight: 500;
                i{
                    margin-right: calc-rem(8px);
                }
            }
        }

        &-less {
            display: none;
        }
    }
    @include media-breakpoint-down(md){
        padding: calc-rem(24px) 0;
        &-left,
        &-right{
            margin-top: 0;
        }
        &-right{
            margin-bottom: calc-rem(40px);
        }
        &-box{
            padding: calc-rem(24px);
            h6{
                font-size: calc-rem(24px);
                line-height: calc-rem(32px);
                margin-bottom: calc-rem(16px);
            }
        }
    }
}