.solutions{
    padding: calc-rem(60px) 0 0;
    &-title{
        margin-bottom: calc-rem(60px);
    }
    &-methods{
        .row{
            .col-md-5{
                z-index: 10;
            }
        }
        &-content{
            h2{
                margin-bottom: calc-rem(40px);
            }
            h6{
                line-height: calc-rem(35px);
            }
        }
        &-slider{
            &-card{
                background-color: $color-white;
                opacity: 0.1;
                border-radius: calc-rem(8px);
            }
        }
    }

    &-details{
        margin-bottom: calc-rem(80px);
        width: 85%;
        h5{
            font-weight: 600;
            margin-bottom: calc-rem(16px);
        }
        p{
            line-height: calc-rem(20px);
        }
    }

    &-info{
        padding-top: calc-rem(60px);
        h5{
            margin-bottom: calc-rem(32px);
        }
        h6{
            font-weight: 600;
            margin-bottom: calc-rem(32px);
        }
        &-text{
            margin-bottom: calc-rem(40px) ;
        }
    }

    &-divider{
        height: 1px;
        width: 100%;
        background-color: $color-gray-3;
        margin-top: calc-rem(90px);
    }

    @include media-breakpoint-down(md){
        padding: calc-rem(32px) 0 0;
        &-title{
            font-size: calc-rem(24px);
            margin-bottom: calc-rem(32px);
            line-height: calc-rem(32px);
        }
        &-details{
            width: 100%;
            margin-bottom: calc-rem(32px);
            &-wrapper{
                margin-top: calc-rem(32px);
            }
        }
        &-methods{
            &-content{
                h2{
                    margin-bottom: calc-rem(16px);
                }
                h6{
                    font-size: calc-rem(14px);
                    line-height: calc-rem(26px);
                    margin-bottom: calc-rem(30px);
                }
            }
        }
        &-info{
            padding-top: calc-rem(40px);
            padding-bottom: calc-rem(60px);
            h5{
               font-size: calc-rem(24px);
               line-height: calc-rem(32px);
            }
            h6{
                font-weight: 600;
                margin-bottom: calc-rem(32px);
            }
            &-text{
                margin-bottom: calc-rem(40px) ;
            }
        }
    }
}