﻿.filters {
  margin: 0 calc-rem(-6px);

  &-flex {
    display: flex;
    align-items: center;
  }

  &-item {
    flex: 1;
    min-width: calc-rem(220px);
    margin: 0 calc-rem(6px);
  }

  &-search {
    position: relative;
    flex: 1 1 calc-rem(500px);

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: calc-rem(15px);
      width: calc-rem(20px);
      height: calc-rem(20px);
      background-image: get-icon("search", $color-primary);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transform: translateY(-50%);
    }
  }
}
