form {
  margin: calc-rem(32px) 0;

  .form {
    &-group {
      display: flex;
      flex-flow: column;
    }

    &-field {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: calc-rem(4px);
    }

    &-footer {
      margin-top: calc-rem(25px);
      align-items: center;
    }
  }
}