.thumbnail {
    max-width: 100%;
    height: auto;
    padding: calc-rem(4px);
    background-color: $color-white;
    border: 1px solid lighten($color-black, 70%);
    border-radius: $border-radius-md;
}