.article {
    &-image {
        height: calc-rem(220px);
        width: calc-rem(220px);
    }

    &-text {
        padding-right: calc-rem(190px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .tag-red {
            margin-bottom: calc-rem(12px);
        }

        &-heading p{
            color: $color-white;
            font-size: calc-rem(26px);
            letter-spacing: 0;
            line-height: calc-rem(36px);
            margin-bottom: calc-rem(22px);
        }

        &-preview {
            color: $color-white;
            line-height: calc-rem(24px);
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-down(md) {
        &-image {
            height: calc-rem(300px);
            width: 100%;
            margin-bottom: calc-rem(24px);
        }

        &-text {
            padding-right: 0;

            .tag-red {
                margin-bottom: calc-rem(8px);
            }

            &-heading p{
                font-size: calc-rem(18px);
                margin-bottom: calc-rem(10px);
                line-height: calc-rem(26px);
            }

            &-preview {
                line-height: calc-rem(14px);
            }
        }
    }
}

.article-story{
    // max-width: calc-rem(350px);
    padding: calc-rem(12px)  calc-rem(12px) calc-rem(20px);
    &-wrapper{
        margin-bottom: calc-rem(80px);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &-image{
        margin-bottom: calc-rem(30px);
        img{
            // width: calc-rem(328px);
            height: calc-rem(385px);
        }
    }
    &-heading{
        color: $color-white;
        font-size: calc-rem(24px);
        font-weight: 500;
        line-height: calc-rem(29px);
        margin:calc-rem(16px) 0 calc-rem(26px);
        padding-right: calc-rem(80px);
    }
    &-text{
        font-size: calc-rem(14px);
        color: $color-white;
        line-height: calc-rem(24px);
    }
    &-button{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: calc-rem(80px);
        button{
            width: calc-rem(240px);
        }
    }
    &:hover{
        background-color: $color-blue;
    }
    @include media-breakpoint-down(md){
        &-button{
            display: none;
        }
    }
}


.article-news{
    &-image{
        margin-bottom: calc-rem(20px);
        img{
            width: 100%;
            height: calc-rem(280px);
        }
    }
    &-heading {
        color: $color-primary;
        font-size: calc-rem(24px);
        font-weight: 600;
        line-height: calc-rem(29px);
        margin:calc-rem(15px) 0 calc-rem(20px);
    }
    &-text{
        font-size: calc-rem(14px);
        color: $color-black;
        line-height: calc-rem(24px);
    }
    &-tags{
        display: flex;
    }
    &:hover{
        .article-news-heading{
            color: $color-secondary;
        }
    }
    @include media-breakpoint-down(md){

    }
}