body {
  font: 400 $font-size-base $font-primary;
  background-color: $color-white;
  box-sizing: border-box;
  overflow-x: hidden;

  * {
    box-sizing: border-box;
  }

  &.scroll-fixed {
    overflow: hidden;
  }
}