.footer {
    background-color: $color-blue-dark;
    padding: calc-rem(56px) 0 calc-rem(20px);
    color: $color-white;

    &-header {
        margin-bottom: calc-rem(40px);

        h4 {
            color: $color-white;
            font-size: calc-rem(32px);

            strong {
                color: $color-secondary;
            }
        }
    }

    &-body {
        padding: calc-rem(20px) 0 calc-rem(100px);

        &-item {
            &-heading {
                color: $color-white;
                font-weight: 700;
                margin-bottom: calc-rem(8px);
            }

            a {
                color: $color-secondary;
                text-decoration: none;
                font-weight: 400;
                margin-left: 0;

                &:hover {
                    text-decoration: underline;
                }
            }

            .btn-stripped {
                color: $color-white;

                &:hover {
                    color: $color-secondary;
                }
            }

            &-number {
                display: none;
            }
        }
    }

    &-divider {
        height: calc-rem(2px);
        width: 100%;
        background-color: $color-white;
        opacity: 0.2;
        margin: calc-rem(15px) 0;
    }

    &-bottom {
        &-links {
            display: flex;
            padding-top: calc-rem(20px);
            padding-left: 0;

            span {
                font-size: calc-rem(11px);
                text-transform: uppercase;
                padding-right: calc-rem(20px);
                color: $color-white;
            }

            a {
                font-size: calc-rem(11px);
                text-transform: uppercase;
                padding-right: calc-rem(20px);
                color: $color-white;
                text-decoration: none;

                &:hover {
                    color: $color-secondary;
                }
            }

            a:not(:first-child) {
                padding-left: calc-rem(20px);
                border-left: 2px solid red;
            }
        }
    }

    @include media-breakpoint-down(md) {
        padding-top:calc-rem(24px);
        &-header {
            border-bottom: 1px solid rgba(255,255,255, 0.2);
            margin-bottom: 0;
            padding-bottom: calc-rem(20px);

            h4 {
                font-size: calc-rem(24px);
                line-height: calc-rem(32px);
            }
        }

        &-cta {
            display: none;
        }

        &-divider {
            display: none;
        }

        &-body {
            border-bottom: 1px solid rgba(255,255,255, 0.2);
            padding: calc-rem(24px) 0;

            &-item {
                margin-bottom: calc-rem(32px);

                &-heading {
                    margin-bottom: 0;
                }

                &-number {
                    display: block;
                    color: $color-secondary;
                    font-size: calc-rem(14px);
                    font-weight: 700;
                    margin-bottom: calc-rem(10px);
                }
            }
        }

        &-bottom {
            &-links {
                flex-direction: column;

                a {
                    font-weight: 300;
                    margin-bottom: calc-rem(6px);
                }

                a:not(:first-child) {
                    border-left: none;
                    padding-left: 0;
                }
            }
        }
    }
}
