.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    &-wrapper {
        position: relative;
        height: 100%;
    }

    &-top {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: calc-rem(40px);
        padding: calc-rem(60px) 0 calc-rem(68px);
        border-bottom: 1px solid $color-white;
        z-index: 10;
    }

    &-menu {
        position: absolute;
        top: -100vH;
        left: 0;
        width: 100vW;
        height: 100vH;
        padding-top: calc-rem(210px);
        background-color: rgba(lighten(saturate($color-blue-dark, 3.33), 6.86), .98);
        @include transition(top, .35s);
        z-index: 9;

        nav {
            display: flex;
        }

        &-nav {
            flex: 1;
            max-width: calc(100% / 4);
            padding-right: calc-rem(20px);
        }

        &-list {
            padding: 0;

            &-title {
                color: $color-secondary;
                font-weight: 600;
            }

            &-item {
                a {
                    color: $color-white;
                    font-size: calc-rem(18px);
                    padding: calc-rem(6px) 0;
                    font-weight: 400;
                }

                &:hover a {
                    color: $color-secondary;
                }
            }
        }

        &-cta {
            padding: calc-rem(120px) 0;

            h2 {
                color: $color-white;
                margin-bottom: calc-rem(60px);

                span,
                strong,
                a {
                    font-size: inherit;
                    color: $color-secondary;
                }

                a {
                    text-decoration: underline;
                }
            }
        }
    }

    &.header-menu-open {
        position: fixed;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        .header-menu {
            top: 0;
        }
    }
}
