﻿$border-color: $color-gray; 
$border-radius-sm: calc-rem(3px);
$border-radius-md: calc-rem(4px);
$border-radius: calc-rem(6px);
$border-radius-xs: calc-rem(2px);
$border-radius-pill: calc-rem(50px);
$border-radius-circle: 50%;