$color-black: #000;
$color-white: #fff;

$color-primary: #082166;
$color-primary-light: #0039D5;
$color-secondary: #FF0000;

$color-gray: #979797;
$color-gray-2: #838383;
$color-gray-3: #ECECEC;
$color-gray-4: #292929;
$color-dark-gray: #1B2429;
$color-purple: #5879D5;
$color-purple-light: #B6C5EE;
$color-blue: #09246F;
$color-blue-dark: #030D2A;
$color-blue-light: #6288F3;
$color-blue-light-2: #F0F3FB;
$color-red-light:  #FF2A00;

$color-blue-light-1: #69ABDC;
$color-blue-light-2: #C7D7E3;
$color-green-1: #004B4F;
$color-green-2: #2ECACE;
$color-red: #D53E2A;
$color-pink: #E87590;
$color-brown: #3B1A00;
$color-light-gray: lighten($color-black, 70%);
$color-tags: lighten($color-blue-light-1, 27%);

// Information
$color-error: $color-red;
$color-warning: $color-pink;
$color-success: $color-green-2;
$color-info: $color-secondary;

$colors: (
    'primary': $color-primary,
    'secondary': $color-secondary,
    'black': $color-black,
    'white': $color-white,
    'blue': $color-primary,
    'blue-light': $color-primary-light,
    'red': $color-secondary,
    'brown': $color-brown,
    'gray': $color-gray,
    'gray-light': $color-light-gray,
    'error': $color-error,
    'warning': $color-warning,
    'success': $color-success,
    'info': $color-info,
);

$colors-message: (
    error: $color-error,
    warning: $color-warning,
    success: $color-success,
    info: $color-info,
);