@import "../mixins/text";

// Poppins
$poppins-path: '../assets/fonts/poppins/Poppins-';
$poppins-variations: (
    Thin: 300,
    Regular: 400,
    Medium: 500,
    SemiBold: 600,
    Bold: 700,
);

// Caramel and Vanilla
$caramelandvanilla-path: '../assets/fonts/CaramelandVanilla/CaramelandVanilla-';
$caramelandvanilla-variations: (
    Bold: 700,
);

@each $variation,
$weight in ($poppins-variations) {
    @include font-face('Poppins', $poppins-path + $variation, $weight);
}

@each $variation,
$weight in ($caramelandvanilla-variations) {
    @include font-face('Caramel and Vanilla', $caramelandvanilla-path + $variation, $weight);
}

// Global variables
$font-size-base: 16px;
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Caramel and Vanilla', sans-serif;