$grid-columns: 12;
$grid-gutter-width: 24px;

$grid-gutter-additional: (
  md: 32px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1033px,
  xxl: 1140px
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$grid-percentages: (
  45: 45%,
  55: 55%
);