$icon-size: (
  xxs:14px,
	xs: 16px,
	sm: 24px,
	md: 36px,
	lg: 45px
);

$icon-rotate: (
  90: 90deg,
  180: 180deg,
  270: 270deg
);

$data-svg-prefix: "data:image/svg+xml;utf-8,";
$icons: (
  // SOCIAL ICONS
  "facebook":
    '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36"><path fill="%%COLOR%%" d="M0,18C0,8.1,8.1,0,18,0s18,8.1,18,18s-8.1,18-18,18S0,27.9,0,18z M19.9,28.6v-9.8h2.7l0.4-3.4h-3.1l0-1.7 c0-0.9,0.1-1.4,1.3-1.4h1.7V9h-2.7c-3.2,0-4.4,1.6-4.4,4.4v2h-2v3.4h2v9.8H19.9z"/></svg>',
  "youtube":
    '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path fill="%%COLOR%%" d="M0,14C0,6.3,6.3,0,14,0s14,6.3,14,14s-6.3,14-14,14S0,21.7,0,14z M21.2,10.5c-0.2-0.7-0.7-1.2-1.3-1.4 C18.7,8.9,14,8.9,14,8.9s-4.7,0-5.8,0.3C7.5,9.4,7,9.9,6.8,10.5c-0.3,1.2-0.3,3.7-0.3,3.7s0,2.5,0.3,3.7c0.2,0.7,0.7,1.2,1.3,1.4 c1.2,0.3,5.8,0.3,5.8,0.3s4.7,0,5.8-0.3c0.6-0.2,1.1-0.7,1.3-1.4c0.3-1.2,0.3-3.7,0.3-3.7S21.5,11.7,21.2,10.5 M12.6,16.8v-4.7 l3.7,2.3L12.6,16.8z"/></svg>',
  "linkedin":
    '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path fill="%%COLOR%%" d="M14,0C6.3,0,0,6.3,0,14s6.3,14,14,14s14-6.3,14-14S21.7,0,14,0z M9.9,21.1H6.7v-9.5h3.2V21.1z M8.3,10.2 c-1.1,0-1.8-0.7-1.8-1.6C6.5,7.7,7.2,7,8.3,7c1.1,0,1.8,0.7,1.8,1.6C10.1,9.5,9.4,10.2,8.3,10.2z M21.4,21.2h-3.2V16 c0-1.3-0.5-2.2-1.6-2.2c-0.9,0-1.4,0.6-1.6,1.2c-0.1,0.2-0.1,0.5-0.1,0.8v5.3h-3.2V21c0-0.5,0-3,0-5.3v-0.9c0-0.3,0-0.5,0-0.8v-0.5 c0-1,0-1.7,0-1.9h3.2V13c0.3-0.7,1.1-1.6,2.8-1.6c2.1,0,3.7,1.4,3.7,4.3V21.2z"/></svg>',
  "twitter":
    '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path fill="%%COLOR%%" d="M0,14C0,6.3,6.3,0,14,0s14,6.3,14,14s-6.3,14-14,14S0,21.7,0,14z M13.6,11.4l0,0.5l-0.5-0.1 c-1.8-0.2-3.3-1-4.7-2.3L7.8,8.9L7.6,9.3c-0.4,1.1-0.1,2.2,0.6,2.9c0.4,0.4,0.3,0.5-0.4,0.2c-0.2-0.1-0.4-0.1-0.5-0.1 c-0.1,0.1,0.2,1,0.4,1.3c0.3,0.5,0.8,1,1.3,1.3l0.5,0.2l-0.6,0c-0.5,0-0.6,0-0.5,0.2c0.2,0.6,1,1.3,1.8,1.6l0.6,0.2l-0.5,0.3 c-0.8,0.5-1.7,0.7-2.6,0.7c-0.4,0-0.8,0-0.8,0.1c0,0.1,1.2,0.7,1.9,0.9c2.1,0.6,4.6,0.4,6.4-0.7c1.3-0.8,2.6-2.3,3.3-3.8 c0.3-0.8,0.7-2.3,0.7-3c0-0.5,0-0.5,0.6-1.1c0.3-0.3,0.6-0.7,0.7-0.8c0.1-0.2,0.1-0.2-0.4,0c-0.8,0.3-0.9,0.3-0.5-0.2 c0.3-0.3,0.7-0.9,0.7-1.1c0,0-0.1,0-0.3,0.1C19.7,8.8,19.3,9,19,9.1l-0.5,0.2L18,8.9c-0.3-0.2-0.6-0.4-0.8-0.4 c-0.5-0.1-1.3-0.1-1.7,0C14.3,9,13.5,10.1,13.6,11.4z"/></svg>',
  
  // OTHER
  "chevron":
    '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 16"><path fill="%%COLOR%%" d="M26,15.1c-0.3,0-0.6-0.1-0.8-0.3L14,3.6L2.8,14.8c-0.4,0.4-1.2,0.4-1.6,0s-0.4-1.2,0-1.6l12-12c0.4-0.4,1.2-0.4,1.6,0l12,12 c0.4,0.4,0.4,1.2,0,1.6C26.6,15,26.3,15.1,26,15.1z"/></svg>',
  "arrow":
    '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 28"><polygon fill="%%COLOR%%" points="3.1,27.1 0.9,24.9 11.9,14 0.9,3.1 3.1,0.9 16.1,14 "/></svg>',
  "long-arrow":
    '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 9"><polygon fill="%%COLOR%%" points="0,3.3 0,5.6 26.3,5.6 26.3,9 32,4.5 26.3,0 26.3,3.3 "/></svg>',
  "search":
    '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path fill="%%COLOR%%" d="M20.5,18.7l5.5,5.5L24.2,26l-5.5-5.5c-2,1.6-4.6,2.5-7.2,2.5C5.2,23,0,17.9,0,11.5S5.2,0,11.5,0S23,5.2,23,11.5 C23,14.1,22.2,16.7,20.5,18.7z M18,17.8c1.6-1.7,2.5-3.9,2.5-6.2c0-5-4-9-9-9c-5,0-9,4-9,9c0,4.9,4,9,9,9c2.3,0,4.6-0.9,6.2-2.5 L18,17.8L18,17.8z"/></svg>',
  "secure":
    '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 14"><path fill="%%COLOR%%" d="M10.5,6H12v7.5H0V6h1.5V4.5C1.5,2,3.5,0,6,0s4.5,2,4.5,4.5V6z M7.5,6V4.5C7.5,3.7,6.8,3,6,3S4.5,3.7,4.5,4.5 V6H7.5z"/></svg>',
  "press-release":
    '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="%%COLOR%%" d="M17,20H3c-1.7,0-3-1.3-3-3V1c0-0.6,0.4-1,1-1h14c0.6,0,1,0.4,1,1v7h4v9 C20,18.7,18.7,20,17,20z M16,10v7c0,0.6,0.4,1,1,1s1-0.4,1-1v-7H16z M3,4v6h6V4H3z M3,11v2h10v-2H3z M3,14v2h10v-2H3z M5,6h2v2H5V6z"/></svg>',
  "plus":
    '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.4 14.4"><path fill="%%COLOR%%" d="M8.4,0v6l6,0v2.4l-6,0v6H6v-6l-6,0V6l6,0V0H8.4z"/></svg>',
  "archive":
    '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="%%COLOR%%" d="M0,10h20v9c0,0.6-0.4,1-1,1H1c-0.6,0-1-0.4-1-1V10z M15,2h4c0.6,0,1,0.4,1,1v5H0V3 c0-0.6,0.4-1,1-1h4V0h2v2h6V0h2V2z"/></svg>',
  "mail": 
    '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path fill="%%COLOR%%" d="M14,0c7.7,0,14,6.3,14,14s-6.3,14-14,14S0,21.7,0,14S6.3,0,14,0z M14.2,13.2c-1.1,0-6.7-3.2-6.7-3.2V9.5 c0-0.6,0.5-1.1,1.1-1.1h11.2c0.6,0,1.1,0.5,1.1,1.1l0,0.6C20.9,10.1,15.3,13.2,14.2,13.2z M14.2,14.8c1.2,0,6.7-3,6.7-3l0,6.7 c0,0.6-0.5,1.1-1.1,1.1H8.6c-0.6,0-1.1-0.5-1.1-1.1l0-6.7C7.5,11.8,13.1,14.8,14.2,14.8z"/></svg>',
  "feed":
    '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path fill="%%COLOR%%" d="M0,14C0,6.3,6.3,0,14,0s14,6.3,14,14s-6.3,14-14,14S0,21.7,0,14z M10.3,15.9c1,0,1.9,0.8,1.9,1.9 s-0.8,1.9-1.9,1.9s-1.9-0.8-1.9-1.9S9.2,15.9,10.3,15.9z M8.4,6.5c7.2,0,13.1,5.9,13.1,13.1H19C19,13.8,14.2,9,8.4,9V6.5z M8.4,10.9 c4.8,0,8.7,3.9,8.7,8.7h-2.5c0-3.4-2.8-6.2-6.2-6.2V10.9z"/></svg>',
  "network":
    '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 32"><path fill="%%COLOR%%" d="M19.1,17.3l3.2,0.6c0,1.6,1.3,2.8,2.9,2.8c1.6,0,2.8-1.3,2.8-2.9c0-1.6-1.3-2.8-2.9-2.8 c-1.1,0-2.1,0.7-2.6,1.7l-3.3-0.7c0-1.2-0.5-2.4-1.3-3.2l4.3-6c1.8,0.9,4,0.1,4.8-1.7c0.9-1.8,0.1-3.9-1.7-4.8s-4-0.1-4.8,1.7 c-0.7,1.4-0.4,3,0.7,4.1l-4.2,5.9c-1.9-1.2-4.5-0.8-6,0.9L5.4,8.7c0.7-1.4,0.2-3.1-1.2-3.8S1.1,4.7,0.3,6.1S0.1,9.2,1.5,9.9 c1,0.5,2.2,0.4,3.1-0.3l5.7,4.4c-0.9,1.9-0.5,4.2,1.2,5.6L8,24.5c-1.8-1.1-4.2-0.5-5.3,1.3C1.6,27.6,2.2,29.9,4,31 c1.8,1.1,4.2,0.5,5.3-1.3c0.9-1.4,0.7-3.2-0.3-4.5l3.5-5c1.2,0.6,2.6,0.6,3.8,0.1l4.2,6.2c-1.2,1.3-1.2,3.3,0.1,4.6 c1.3,1.2,3.4,1.2,4.6-0.1s1.2-3.3-0.1-4.6c-1-0.9-2.4-1.1-3.6-0.6l-4.1-6.1C18.2,19.1,18.8,18.3,19.1,17.3z"/></svg>',
   "icon-analysis":
   '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 24"><path fill="%%COLOR%%" d="M3.4,19.7c0,0.5,0.4,0.9,0.8,0.9h21.1c0.9,0,1.7,0.8,1.7,1.7c0,0.9-0.8,1.7-1.7,1.7H4.2C1.9,24,0,22.1,0,19.7 v-18C0,0.8,0.8,0,1.7,0s1.7,0.8,1.7,1.7V19.7z M8.4,6.9c0-0.9,0.8-1.7,1.7-1.7s1.7,0.8,1.7,1.7s-0.8,1.7-1.7,1.7S8.4,7.8,8.4,6.9z M16.9,12c0,0.9-0.8,1.7-1.7,1.7c-0.9,0-1.7-0.8-1.7-1.7s0.8-1.7,1.7-1.7C16.1,10.3,16.9,11.1,16.9,12z M18.6,15.4 c0-0.9,0.8-1.7,1.7-1.7s1.7,0.8,1.7,1.7c0,0.9-0.8,1.7-1.7,1.7S18.6,16.4,18.6,15.4z M23.6,5.1c0,0.9-0.8,1.7-1.7,1.7 s-1.7-0.8-1.7-1.7s0.8-1.7,1.7-1.7S23.6,4.2,23.6,5.1z M6.8,15.4c0-0.9,0.8-1.7,1.7-1.7s1.7,0.8,1.7,1.7c0,0.9-0.8,1.7-1.7,1.7	S6.8,16.4,6.8,15.4z"/></svg>',
   "icon-burger":
   '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 27"><path fill="%%COLOR%%"  d="M42,26.5H0v-2h42V26.5z M42,12.5H0v2h42V12.5z M42,0.5H0v2h42V0.5z"/></svg>',
   "icon-close":
   '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 33"><polygon  fill="%%COLOR%%" points="32.1,2.4 30.6,0.9 16.5,15.1 2.4,0.9 0.9,2.4 15.1,16.5 0.9,30.6 2.4,32.1 16.5,17.9 30.6,32.1 32.1,30.6 17.9,16.5 "/></svg>',
   "icon-design":
   '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><path fill="%%COLOR%%" d="M0,2c0-1.1,0.9-2,2-2h4c1.1,0,2,0.9,2,2h12c0-1.1,0.9-2,2-2h4c1.1,0,2,0.9,2,2v4c0,1.1-0.9,2-2,2h-2L22,11.6 c0,0.1,0,0.3,0,0.4v4c0,0.1,0,0.3,0,0.4L24,20h2c1.1,0,2,0.9,2,2v4c0,1.1-0.9,2-2,2h-4c-1.1,0-2-0.9-2-2H8c0,1.1-0.9,2-2,2H2 c-1.1,0-2-0.9-2-2v-4c0-1.1,0.9-2,2-2V8C0.9,8,0,7.1,0,6V2z M20.1,21.3L18.3,18H16c-1.1,0-2-0.9-2-2v-4c0-1.1,0.9-2,2-2h2.3l1.9-3.3 C20,6.5,20,6.3,20,6H8c0,1.1-0.9,2-2,2v12c1.1,0,2,0.9,2,2h12C20,21.7,20,21.5,20.1,21.3z M3,5h2V3H3V5z M23,5h2V3h-2V5z M5,23H3v2 h2V23z M23,25h2v-2h-2V25z M19,13h-2v2h2V13z"/></svg>',
   "icon-strategy":
   '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><path fill="%%COLOR%%" d="M16.3,14.5c0,1-0.8,1.8-1.8,1.8s-1.8-0.8-1.8-1.8s0.8-1.8,1.8-1.8S16.3,13.5,16.3,14.5z M6.3,14.5	c0-4.5,3.7-8.2,8.2-8.2s8.2,3.7,8.2,8.2s-3.7,8.2-8.2,8.2S6.3,19,6.3,14.5z M14.5,19c2.5,0,4.5-2,4.5-4.5S17,10,14.5,10	S10,12,10,14.5S12,19,14.5,19z M29,14.5c0,8-6.5,14.5-14.5,14.5S0,22.5,0,14.5S6.5,0,14.5,0S29,6.5,29,14.5z M14.5,3.6 C8.4,3.6,3.6,8.4,3.6,14.5c0,6,4.8,10.9,10.9,10.9c6,0,10.9-4.9,10.9-10.9C25.4,8.4,20.5,3.6,14.5,3.6z"/></svg>',
  "icon-triangle":
  '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 14" ><polygon fill="%%COLOR%%" points="9,14 18,0 0,0 "/></svg>',
  "icon-triangle-outlined":
  '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 30" ><path fill="%%COLOR%%" d="M0,30V0l24,15L0,30z M4.5,8.1v13.8L15.6,15L4.5,8.1z"/></svg>',
  "icon-arrow":
  '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 8" ><polygon fill="%%COLOR%%" points="13.4,4.2 9.7,7.9 9.7,4.9 0.7,4.9 0.7,3.5 9.7,3.5 9.7,0.6 "/></svg>',
  "icon-flight":
  '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 19"><path fill="%%COLOR%%" d="M24.7,16.4c0.7,0,1.3,0.6,1.3,1.3S25.4,19,24.7,19H1.3C0.6,19,0,18.4,0,17.7s0.6-1.3,1.3-1.3H24.7z M7.6,0.2 l7.9,2.9L19.7,1c0.7-0.4,1.5-0.6,2.4-0.6h2.3c1.1,0,1.9,1.1,1.5,2.1c-0.7,2-2.2,3.6-4.1,4.5l-11.1,5.5c-0.2,0.1-0.4,0.1-0.6,0.1H4.5 c-0.4,0-0.7-0.2-1-0.4l-3-3.4c-0.3-0.3-0.2-0.8,0.2-1l1.3-0.6c0.3-0.2,0.8-0.2,1.1,0l2.3,1l4-2l-6-3.8C3.1,2,3.2,1.4,3.6,1.2 l1.9-0.9C6.1,0,6.9-0.1,7.6,0.2z"/></svg>',
  "icon-meeting": 
  '<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 26 18"><path fill="%%COLOR%%" d="M25.4,14.1c0.4,0,0.6,0.3,0.6,0.6v0.6c0,1.4-1.2,2.6-2.6,2.6H2.6C1.2,18,0,16.8,0,15.4v-0.6	c0-0.3,0.3-0.6,0.6-0.6H25.4z M21.5,0c1.1,0,1.9,0.9,1.9,1.9v10.9h-2.6V2.6H5.2v10.3H2.6V1.9c0-1.1,0.9-1.9,2-1.9H21.5z M14.9,5.2 c0.3-0.3,0.8-0.3,1.1,0L18,7.1c0.3,0.3,0.3,0.8,0,1.1L16,10.2c-0.2,0.2-0.4,0.2-0.6,0.2s-0.4-0.1-0.6-0.2c-0.3-0.3-0.3-0.8,0-1.1 l1.4-1.4l-1.4-1.4C14.5,6,14.5,5.5,14.9,5.2z M10,5.2c0.3-0.3,0.8-0.3,1.1,0c0.3,0.3,0.3,0.8,0,1.1L9.8,7.7l1.4,1.4 c0.3,0.3,0.3,0.8,0,1.1c-0.2,0.2-0.4,0.2-0.6,0.2s-0.4-0.1-0.6-0.2L8,8.3C7.7,8,7.7,7.5,8,7.1L10,5.2z"/></svg>',
  "icon-pizza": 
  '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 23"><path fill="%%COLOR%%" d="M4.5,5c7.9,0.1,13.2,5.3,13.4,13.2L0.9,23c-0.2,0.1-0.5,0-0.7-0.2C0,22.6,0,22.3,0,22.1L4.5,5z M5.7,15.9 c-0.8,0-1.4,0.6-1.4,1.4c0,0.8,0.6,1.4,1.4,1.4c0.8,0,1.5-0.6,1.4-1.4C7.1,16.5,6.5,15.9,5.7,15.9z M7,0l0.1,0 C15.3,0.8,22.1,7.4,23,15.5c0.1,0.7-0.4,1.4-1.1,1.6l-2.6,0.7C19,9.5,13.3,3.9,4.9,3.6l0.7-2.5C5.7,0.4,6.4-0.1,7.1,0L7,0z M12.2,13.7c-0.8,0-1.4,0.6-1.4,1.4c0,0.8,0.6,1.4,1.4,1.4c0.8,0,1.4-0.6,1.4-1.4C13.7,14.3,13,13.7,12.2,13.7z M7.9,9.3 c-0.8,0-1.4,0.6-1.4,1.4c0,0.8,0.6,1.4,1.4,1.4c0.8,0,1.5-0.6,1.4-1.4C9.3,10,8.7,9.3,7.9,9.3z"/></svg>',
  "icon-relaxing": 
  '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><polygon fill="%%COLOR%%" points="9,2.5 15,16.5 17.3,11 23,11 23,13 18.7,13 15,21.5 9,7.5 6.7,13 1,13 1,11 5.3,11 "/></svg>'
);
