$spacings: (
  0: 0,
  xxs: calc-rem(4px),
  xs: calc-rem(6px),
  sm: calc-rem(8px),
  md: calc-rem(16px),
  lg: calc-rem(24px),
  xl: calc-rem(32px),
  xxl: calc-rem(48px),
  xxxl: calc-rem(64px),
);
