// include the size (ex: .icon-sm) along with the specific icon class ex: .icon-arrow-white
.icon {
  &-blank {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    
    &::after {
      content: "";
      @include absolute-center-center;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &-right{
    align-self: flex-end;
  }
  
	@each $name, $size in $icon-size {
		&-#{$name} {
			@extend .icon-blank;
			width: $size;
			height: $size;
		}
	}

  @each $key, $rotation in $icon-rotate {
    &-#{$key} {
      transform: rotate(#{$rotation});
    }
  }
}

// ICON SOCIAL MEDIA
.icon-social {
  &-yt-white::after {
    background-image: get-icon("youtube", $color-white);
  }

  &-li-white::after {
    background-image: get-icon("linkedin", $color-white);
  }

  &-tw-white::after {
    background-image: get-icon("twitter", $color-white);
  }
}

// OTHER ICONS
// Arrow
.icon-arrow {
  &-white {
    &::after {
      background-image: get-icon("arrow", $color-white);
    }
  }
}

// Plus
.icon-plus {
  &-white::after {
    background-image: get-icon("plus", $color-white);
  }
}

// Chevron
.icon-chevron {
  &-white::after {
    background-image: get-icon("chevron", $color-white);
  }
}

// Search
.icon-search {
  &-primary::after {
    background-image: get-icon("search", $color-primary);
  }
}
.icon-analysis {
  &::after {
    background-image: get-icon("icon-analysis", $color-primary);
  }
}
.icon-burger {
  &::after {
    background-image: get-icon("icon-burger", $color-primary);
  }
}
.icon-close {
  &::after {
    background-image: get-icon("icon-close", $color-primary);
  }
}
.icon-design {
  &::after {
    background-image: get-icon("icon-design", $color-primary);
  }
}
.icon-strategy {
  &::after {
    background-image: get-icon("icon-strategy", $color-primary);
  }
}
.icon-triangle {
  &::after {
    background-image: get-icon("icon-triangle", $color-primary);
  }
  &-white::after {
    background-image: get-icon("icon-triangle", $color-white);
  }
}
.icon-triangle-outlined {
  &-red::after {
    background-image: get-icon("icon-triangle-outlined", $color-secondary);
  }
  &-white::after {
    background-image: get-icon("icon-triangle-outlined", $color-white);
  }
  &-blue::after {
    background-image: get-icon("icon-triangle-outlined", $color-primary-light);
  }
}

.icon-arrow {
  &::after {
    background-image: get-icon("icon-arrow", $color-white);
  }
  &-red{
    &::after {
      background-image: get-icon("icon-arrow", $color-secondary);
    }
  }
}

.icon-flight {
  &::after {
    background-image: get-icon("icon-flight", $color-secondary);
  }
}

.icon-meeting {
  &::after {
    background-image: get-icon("icon-meeting", $color-secondary);
  }
}
.icon-pizza {
  &::after {
    background-image: get-icon("icon-pizza", $color-secondary);
  }
}
.icon-relaxing {
  &::after {
    background-image: get-icon("icon-relaxing", $color-secondary);
  }
}

